{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Tambah pengguna | SMKN 1 CIBINONG</title>
{% endblock  %}

{% block content %}
<div class="container-edit">
    <div class="input-box">
        <div class="head">
            <h2>Tambah <span>Pengguna</span></h2>
        </div>

        {% if message %}
        <div class="message">{{message}}</div>
        {% endif %}

        <div class="form">
        <form action="{% url 'add-user'%}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="input-data">
                {% comment %} <label for="username">Username</label><br>
                <input type="text" name="username" id="username" required>
                <br>

                <label for="full_name">Nama Lengkap</label><br>
                <input type="text" name="full_name" id="full_name" required>
                <br>

                <label for="nip">NIP</label><br>
                <input type="text" name="nip" id="nip" required minlength="18" maxlength="18">
                <br>

                <label for="jabatan">Jabatan</label><br>
                <input type="text" name="jabatan" id="jabatan"required >
                <br>

                <label for="new_pass">Password Pengguna</label><br>
                <input type="password" name="password" id="password" required >
                <br> {% endcomment %}
                {{credential_form.username | as_crispy_field}}
                {{employee_form.full_name | as_crispy_field}}
                {{employee_form.nip | as_crispy_field}}
                {{employee_form.position | as_crispy_field}}
                {{credential_form.password1 | as_crispy_field}}
                {{credential_form.password2 | as_crispy_field}}

            </div>

            <div class="role">
                <h1>Pilih Role*</h1>
                {{employee_form.group | as_crispy_field}}
            </div>

            <div class="day-check">
                <h1>Pilih Hari Kerja*</h1>
                {{days_form}}
            </div>

            <div class="button">
                <button type="submit">Submit</button>
                <a href="{% url 'index'%}" class="back">Kembali</a>
            </div>

            
        </form>
        </div>
        
        
    </div>
    

    
</div>
    
{% endblock  %}
