{% extends 'base-admin.html' %}
{% load static %}
{% block title %}
    <title>Rekap Absen</title>
{% endblock title %}

{% block content %}

{% include 'sidebar-admin.html' %}
{% include 'loading.html' %}
    <section class="container-admin">
        <section class="content loading">
            <div class="action">
                <div class="search">
                    <i class='bx bx-search-alt-2'></i><input type="text" name="" id="" placeholder="Cari Disini">
                </div>
                <div class="filter">
                    <select class="form-select" aria-label="Default select example">
                        <option selected hidden>Filter</option>
                        <option value="1">Hari Ini</option>
                        <option value="2">Bulan Ini</option>
                        <option value="3">Tahun Ini</option>
                        <option value="4">Custom Tanggal</option>
                    </select>
                </div>
            </div>
            <div class="table">
                <table>
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Tanggal</th>
                            <th>Nama</th>
                            <th>NIP</th>
                            <th>Jam Masuk</th>
                            <th>Bukti Masuk</th>
                            <th>Jam Keluar</th>
                            <th>Bukti Keluar</th>
                            <th>Keterangan Masuk</th>
                            <th>Keterangan Keluar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for=" (data,index) in dataAttendUser ">
                            <td>[[ index + 1 ]]</td>
                            <td>[[ data.presence_date ]]</td>
                            <td>[[ data.employee_id.full_name ]]</td>
                            <td>[[ data.employee_id.nip ]]</td>
                            <td>[[ data.checkin_time ]]</td>
                            <td>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    :data-bs-target="' #attendIn-doc-' + index">
                                    Lihat Bukti
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" :id= " 'attendIn-doc-' + index" data-bs-backdrop="static"
                                    data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                    aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="staticBackdropLabel">Bukti Masuk</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <img v-bind:src="data.checkin_img" alt="">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Understood</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>[[ data.checkout_time ]]</td>
                            <td>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    :data-bs-target="'#attendOut-doc-' + index ">
                                    Lihat Bukti
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" :id="'attendOut-doc-' + index " data-bs-backdrop="static"
                                    data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                    aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="staticBackdropLabel">Bukti Keluar</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <img v-bind:src="data.checkout_img" alt="">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Understood</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>[[ data.checkin_desc ]]</td>
                            <td>[[ data.checkout_desc ]]</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </section>
{% endblock content%}
{% block opt_script %}
    
    <script type="text/javascript">
        showAttendAdmin()
    </script>

{% endblock %}