{% extends 'base-admin.html' %}
{% load static %}
{% block title %}
    <title>Dashboard</title>
{% endblock title %}

{% block content %}
    <section class="container-admin">
        {% include 'sidebar-admin.html' %}
        <section class="content">
            <div class="image">
                <p>Sedang Dalam Tahap Pembuatan, akan tersedia <span>segera</span></p>
                <img src="../../static/image/development.png" alt="">     
            </div>
        </section>
    </section>
{% endblock content %}
