{% extends 'base-admin.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
<title>Edit Role</title>
{% endblock title %}

{% block content %}

{% include 'sidebar-admin.html' %}
<section class="container-admin">
    <section class="content">
        <form action="" method="post" class="add-user">
            {% csrf_token %}
            <div class="role">
                {{ form }}
            </div>

            <div class="button-group-form">
                <a href="" class="cancel"> Batal</a>
                <button type="submit" class="submit">Submit</button>
            </div>
        </form>
    </section>
</section>
{% endblock content %}