{% extends 'base-admin.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
<title>Edit Password</title>
{% endblock title %}

{% block content %}

{% include 'sidebar-admin.html' %}
<section class="container-admin">
    <section class="content">
        <form action="" method="post" class="add-user">
            {% csrf_token %}

            <div class="form-floating">
                <input type="password" class="form-control" id="floating-password" placeholder="Hermawan Fanreza"
                    name="password" required>
                <label for="floating-password">Password*</label>
                <div class="info">
                    <ul>
                        <li>Password harus mengandung setidaknya 8 karakter</li>
                        <li>Password tidak boleh sepenuhnya menggunakan angka</li>
                    </ul>
                </div>
            </div>
            {% comment %} <div class="form-floating">
                <input type="password" class="form-control" id="floating-password-confirm"
                    placeholder="Hermawan Fanreza" name="password-confirm" required>
                <label for="floating-password-confirm">Konfirmasi Password*</label>
                <div class="info">
                    <p>Masukan password yang sama seperti sebelumnya</p>
                </div>
            </div> {% endcomment %}
            <div class="button-group-form">
                <a href="" class="cancel"> Batal</a>
                <button type="submit" class="submit">Submit</button>
            </div>
        </form>
    </section>
</section>
{% endblock content %}