{% extends 'base-admin.html' %}
{% load static %}
{% block title %}
<title>Rekap Laporan</title>
{% endblock title %}

{% block content %}

{% include 'sidebar-admin.html' %}
{% include 'loading.html' %}

<section class="container-admin">
    <section class="content loading">
        <div class="action">
            <div class="search">
                <i class='bx bx-search-alt-2'></i><input type="text" name="" id="" placeholder="Cari Disini">
            </div>
            <div class="select-laporan">
                <select @change="selectReport($event)" class="form-select" aria-label="Default select example">
                    <option selected hidden>Pilih Laporan</option>
                    <option value="study">Laporan Belajar</option>
                    <option value="guidance">Laporan Bimbingan</option>
                    <option value="development">Laporan Pengembangan</option>
                    <option value="duty">Laporan Tugas</option>
                    <option value="inovative">Laporan Karya</option>
                    <option value="scientific">Laporan Ilmiah</option>
                </select>
            </div>
            <div class="filter button-filter">
                <select @change="filter($event)" class="form-select filter-select" aria-label="Default select example">
                    <option selected hidden>Filter</option>
                    <option value="reset">Hapus Filter</option>
                    <option value="today">Hari Ini</option>
                    <option value="month">Bulan Ini</option>
                    <option value="year">Tahun Ini</option>
                    <option value="custom">Custom Tanggal</option>
                </select>

                <div class="modal fade" id="myModal" data-bs-keyboard="false" tabindex="-1"
                    aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Kustomisasi Tanggal</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>

                            <div class="modal-body">
                                <div class="date">
                                    <label for="from-date">Dari</label>
                                    <input type="date" name="from-date" id="from-date">
                                </div>

                                <div class="date">
                                    <label for="to-date">Sampai</label>
                                    <input type="date" name="to-date" id="to-date">
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kembali</button>
                                <button id='custom-filter' class="btn btn-primary"
                                    data-bs-dismiss="modal">Kirim</button>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            {% include 'button-print.html' %}
        </div>

        <div class="table table-report table-study" style="display: block;">
            <table>
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Tanggal</th>
                        <th>Nama</th>
                        <th>NIP</th>
                        <th>Jam Lapor</th>
                        <th>Kelas KBM</th>
                        <th>Mata Ajar</th>
                        <th>Jumlah Siswa</th>
                        <th>Jumlah Siswa Hadir</th>
                        <th>Jumlah Siswa Tidak Hadir</th>
                        <th>Media Pembelajaran</th>
                        <th>Keterangan</th>
                        <th>Dokumentasi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(data,index) in dataFetchedStudy">
                        <td>[[ index + 1 ]]</td>
                        <td>[[ data.created_at ]]</td>
                        <td>[[ data.employee_id.full_name ]]</td>
                        <td>[[ data.employee_id.nip ]]</td>
                        <td>[[ data.hours ]]</td>
                        <td>[[ data.class_name.class_name ]]</td>
                        <td>[[ data.subject_name.subject_name ]]</td>
                        <td>[[ data.total_student ]]</td>
                        <td>[[ data.presence_student ]]</td>
                        <td>[[ data.absence_student ]]</td>
                        <td>[[ data.method ]]</td>
                        <td>
                            <p>[[ data.desc ]]</p>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn report" data-bs-toggle="modal"
                                :data-bs-target=" '#desc-study' + index">
                                Selengkapnya
                            </button>

                            <!-- Modal -->
                            <div class="modal fade report" :id=" 'desc-study' + index" data-bs-backdrop="static"
                                data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Keterangan</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>[[ data.desc ]]</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td><a v-bind:href="data.documentation" target="_blank">Lihat Bukti</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table table-report table-guidance">
            <table>
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Tanggal</th>
                        <th>Nama</th>
                        <th>NIP</th>
                        <th>Keterangan</th>
                        <th>Dokumentasi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(data,index) in dataFetchedGuidance">
                        <td>[[ index + 1 ]]</td>
                        <td>[[ data.created_at ]]</td>
                        <td>[[ data.employee_id.full_name ]]</td>
                        <td>[[ data.employee_id.nip ]]</td>
                        <td>
                            <p>[[ data.desc ]]</p>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn report" data-bs-toggle="modal"
                                :data-bs-target=" '#desc-guidance' + index">
                                Selengkapnya
                            </button>

                            <!-- Modal -->
                            <div class="modal fade report" :id=" 'desc-guidance' + index" data-bs-backdrop="static"
                                data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Keterangan</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>[[ data.desc ]]</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td><a v-bind:href="data.documentation" target="_blank">Lihat Bukti</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table table-report table-duty">
            <table>
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Tanggal</th>
                        <th>Nama</th>
                        <th>NIP</th>
                        <th>Posisi Kerja</th>
                        <th>Keterangan</th>
                        <th>Dokumentasi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(data,index) in dataFetchedDuty">
                        <td>[[ index + 1 ]]</td>
                        <td>[[ data.created_at ]]</td>
                        <td>[[ data.employee_id.full_name ]]</td>
                        <td>[[ data.employee_id.nip ]]</td>
                        <td>[[ data.role.role_name ]]</td>
                        <td>
                            <p>[[ data.desc ]]</p>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn report" data-bs-toggle="modal"
                                :data-bs-target=" '#desc-duty' + index">
                                Selengkapnya
                            </button>

                            <!-- Modal -->
                            <div class="modal fade report" :id=" 'desc-duty' + index" data-bs-backdrop="static"
                                data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Keterangan</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>[[ data.desc ]]</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td><a v-bind:href="data.documentation" target="_blank">Lihat Bukti</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table table-report table-development">
            <table>
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Tanggal</th>
                        <th>Nama</th>
                        <th>NIP</th>
                        <th>Kegiatan</th>
                        <th>Peran</th>
                        <th>Jumlah Jam</th>
                        <th>Keterangan</th>
                        <th>Dokumentasi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(data,index) in dataFetchedDevelopment">
                        <td>[[ index + 1 ]]</td>
                        <td>[[ data.created_at ]]</td>
                        <td>[[ data.employee_id.full_name]]</td>
                        <td>[[ data.employee_id.nip ]]</td>
                        <td>[[ data.category ]]</td>
                        <td>[[ data.role ]]</td>
                        <td>[[ data.duration ]]</td>
                        <td>
                            <p>[[ data.desc ]]</p>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn report" data-bs-toggle="modal"
                                :data-bs-target=" '#desc-development' + index">
                                Selengkapnya
                            </button>

                            <!-- Modal -->
                            <div class="modal fade report" :id=" 'desc-development' + index" data-bs-backdrop="static"
                                data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Keterangan</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>[[ data.desc ]]</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td><a v-bind:href="data.documentation" target="_blank">Lihat Bukti</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table table-report table-inovative">
            <table>
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Tanggal</th>
                        <th>Nama</th>
                        <th>NIP</th>
                        <th>Karya</th>
                        <th>Keterangan</th>
                        <th>Dokumentasi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(data,index) in dataFetchedInovative">
                        <td>[[ index + 1 ]]</td>
                        <td>[[ data.created_at ]]</td>
                        <td>[[ data.employee_id.full_name ]]</td>
                        <td>[[ data.employee_id.nip ]]</td>
                        <td>[[ data.category.category_name ]]</td>
                        <td>
                            <p>[[ data.desc ]]</p>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn report" data-bs-toggle="modal"
                                :data-bs-target=" '#desc-inovative' + index">
                                Selengkapnya
                            </button>

                            <!-- Modal -->
                            <div class="modal fade report" :id=" 'desc-inovative' + index" data-bs-backdrop="static"
                                data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Keterangan</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>[[ data.desc ]]</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td><a v-bind:href="data.documentation" target="_blank">Lihat Bukti</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table table-report table-scientific">
            <table>
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Tanggal</th>
                        <th>Nama</th>
                        <th>NIP</th>
                        <th>Karya</th>
                        <th>Keterangan</th>
                        <th>Dokumentasi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(data,index) in dataFetchedScientific">
                        <td>[[ index + 1 ]]</td>
                        <td>[[ data.created_at ]]</td>
                        <td>[[ data.employee_id.full_name ]]</td>
                        <td>[[ data.employee_id.nip ]]</td>
                        <td>[[ data.category.category_name ]]</td>
                        <td>
                            <p>[[ data.desc ]]</p>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn report" data-bs-toggle="modal"
                                :data-bs-target=" '#desc-scientific' + index">
                                Selengkapnya
                            </button>

                            <!-- Modal -->
                            <div class="modal fade report" :id=" 'desc-scientific' + index" data-bs-backdrop="static"
                                data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Keterangan</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>[[ data.desc ]]</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td><a v-bind:href="data.documentation" target="_blank">Lihat Bukti</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</section>
{% endblock content%}
{% block opt_script %}

<script type="text/javascript">
    showReportAdmin()
</script>

{% endblock %}