{% extends 'base-admin.html' %}
{% load static %}
{% block title %}
<title>Daftar User</title>
{% endblock title %}

{% block content %}

{% include 'sidebar-admin.html' %}
{% include 'loading.html' %}
<section class="container-admin">
    <section class="content loading">
        <div class="action">
            {% include 'button-search.html' %}
            <div class="add-user">
                <a href="{% url 'add_user_admin' %}" class="add">Tambah User</a>
            </div>
        </div>
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Nama</th>
                        <th>NIP</th>
                        <th>Posisi</th>
                        <th>Role</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(data,index) in dataFetchedUsers">
                        <td>[[ index + 1]]</td>
                        <td>[[ data.full_name]]</td>
                        <td>[[ data.nip ]]</td>
                        <td>[[ data.position ]]</td>
                        <td>[[ data.user.groups[0] ]]</td>
                        <td>
                            <form action="" method="get">
                                <button class="edit" type="submit" name="edit" :value="data.id">Edit</button>
                                <button class="delete" type="submit" name="delete" :value="data.id">Hapus</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</section>
{% endblock content%}
{% block opt_script %}

<script type="text/javascript">
    showUsers()
</script>

{% endblock %}