{% extends 'base-admin.html' %}
{% load static %}
{% block title %}
    <title>Dashboard</title>
{% endblock title %}

{% block content %}
    <section class="container-admin">
        {% include 'sidebar-admin.html' %}
        <section class="content">
            <div class="action">
                <div class="search">
                    <i class='bx bx-search-alt-2'></i><input type="text" name="" id="" placeholder="Cari Disini">
                </div>
                <div class="add-user">
                    <a href="{% url 'add_user_admin' %}" class="add">Tambah User</a>
                </div>
            </div>
            <div class="table">
                <table>
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Nama</th>
                            <th>NIP</th>
                            <th>Posisi</th>
                            <th>Role</th>
                            <th>Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(data,index) in dataUsers">
                            <td>[[ index + 1]]</td>
                            <td>[[ data.full_name]]</td>
                            <td>[[ data.nip ]]</td>
                            <td>[[ data.position ]]</td>
                            <td>[[ data.user.groups[0] ]]</td>
                            <td>
                                <a href="" class="edit">Edit</a>
                                <a href="" class="delete">Hapus</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </section>
{% endblock content%}
{% block opt_script %}
    
    <script type="text/javascript">
        showUsers()
    </script>

{% endblock %}