@use '../../template/variable'as v;


@mixin add-user {
    form.add-user {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        background-color: #fff;
        padding: 3em;
        width: 50%;
        margin: 3em auto 0;
        border-radius: 5px;

        .form-floating {
            margin-bottom: 1em;

            .info {
                font-size: .8em;
                margin-top: .5em;
            }
        }

        .role,
        .day-work {
            margin-bottom: 1em;

            .input {
                display: flex;
                margin-top: 1em;

                .form-check {
                    margin-left: 1em;

                    input,
                    label {
                        cursor: pointer;
                        user-select: none;
                    }
                }
            }
        }

        .edit-group-link{
            @include v.horizontal-centered;
            justify-content: space-evenly;

            a{
                font-size: max(1em,1vw);
                font-weight: 700;

                &:hover{
                    text-decoration: none;
                }
            }
        }

        .button-group-form{
            @include v.horizontal-centered;
            justify-content: space-between;
            font-size: max(1em,1vw);

            .submit {
                width: 45%;
                background-color: v.$primary-color;
                border: none;
                outline: none;
                color: v.$secondary-color;
                font-weight: v.$text-bold;
                padding: .8em 0;
                border-radius: max(5px,.3vw);
            }

            .cancel{
                width: 45%;
                background-color: red;
                color: v.$secondary-color;
                text-decoration: none;
                padding: .8em 0;
                font-weight: v.$text-bold;
                border-radius: max(5px,.3vw);
                text-align: center;
            }
        }
    }
}