@use '../../template/variable'as v;

@mixin dashboard {
    .image {
        text-align: center;

        p {
            font-size: max(2em, 2vw);
            font-weight: 600;
            text-transform: capitalize;

            span {
                font-weight: 700;
                background-image: linear-gradient(to right, #00b4db, #3b86ff);
                background-clip: text;
                text-fill-color: transparent;
                -webkit-text-fill-color: transparent;
            }
        }

        img {
            width: 50%;
        }
    }
}