* {
  margin: 0;
  padding: 0;
}

.container-dashboard-admin {
  width: 100%;
}
.container-dashboard-admin .sidebar {
  width: 15%;
  height: 100vh;
  background-color: #3b86ff;
  position: fixed;
  top: 0;
  left: 0;
}
.container-dashboard-admin .sidebar .brand {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  font-size: 1.2em;
  padding: 1em 0;
}
.container-dashboard-admin .sidebar .brand span {
  font-weight: bold;
}
.container-dashboard-admin .sidebar .brand i {
  font-size: 1.5em;
}
.container-dashboard-admin .sidebar nav {
  color: #fff;
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.container-dashboard-admin .sidebar nav a {
  margin-top: 2em;
  font-size: 1em;
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
}
.container-dashboard-admin .sidebar nav a span {
  padding: 0 0.5em;
}
.container-dashboard-admin .sidebar nav a i {
  font-size: 1.5em;
}
.container-dashboard-admin .sidebar nav a.active {
  background-color: #fff;
  border-radius: 10px;
  color: #3b86ff;
  padding: 10px;
  font-weight: bold;
}
.container-dashboard-admin .sidebar nav .profile {
  margin-bottom: 80px;
}
.container-dashboard-admin .sidebar nav .profile .bx-log-out-circle {
  margin-left: auto;
}
.container-dashboard-admin .content {
  width: 85%;
  margin-left: auto;
  padding: 3em;
}
.container-dashboard-admin .content .action {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.container-dashboard-admin .content .action .search {
  border-bottom: 1px solid #CFD8DC;
  width: 50%;
  color: #707071;
  display: flex;
  align-items: center;
}
.container-dashboard-admin .content .action .search i {
  font-size: 2em;
}
.container-dashboard-admin .content .action .search input {
  border: none;
  font-size: 1.2em;
  padding: 0.5em;
  width: 100%;
}
.container-dashboard-admin .content .action .search input:focus {
  outline: none;
}
.container-dashboard-admin .content .action .add-user .add {
  background-color: #3b86ff;
  text-decoration: none;
  padding: 0.5em 0.8em;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
}
.container-dashboard-admin .content .action .add-user .add:hover {
  background-color: transparent;
  color: #3b86ff;
  border: 1px solid #3b86ff;
}
.container-dashboard-admin .content .table {
  max-height: 500px;
  overflow: auto;
  margin-top: 1em;
}
.container-dashboard-admin .content .table table {
  width: 100%;
}
.container-dashboard-admin .content .table table th,
.container-dashboard-admin .content .table table td {
  padding: 1em;
  vertical-align: top;
}
.container-dashboard-admin .content .table table thead tr {
  background-color: #f8f8f8;
  border-bottom: 1px solid #EDF3FB;
  position: sticky;
  top: 0;
}
.container-dashboard-admin .content .table table thead tr th {
  white-space: nowrap;
}
.container-dashboard-admin .content .table table tbody tr {
  border-bottom: 1px solid #EDF3FB;
}
.container-dashboard-admin .content .table a {
  text-decoration: none;
  width: 100%;
  display: inline-block;
  margin-top: 0.5em;
  padding: 0.2em;
  text-align: center;
  transition: 0.2s ease all;
}
.container-dashboard-admin .content .table a.edit {
  border: 1px solid #13CB6E;
  color: #13CB6E;
}
.container-dashboard-admin .content .table a.edit:hover {
  background-color: #13CB6E;
  color: #fff;
}
.container-dashboard-admin .content .table a.delete {
  border: 1px solid #C6493B;
  color: #C6493B;
}
.container-dashboard-admin .content .table a.delete:hover {
  background-color: #C6493B;
  color: #fff;
}
.container-dashboard-admin .content .table .modal .modal-body {
  text-align: center;
}
.container-dashboard-admin .content .table button.report {
  text-decoration: underline;
  color: #3b86ff;
  padding: 0;
}
.container-dashboard-admin .content .table button.report:hover {
  text-decoration: none;
}
.container-dashboard-admin .content .table button.report:focus {
  box-shadow: none;
}
.container-dashboard-admin .content .table .modal.report p {
  text-align: left;
}
.container-dashboard-admin .content form {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #fff;
  padding: 1em;
  border-radius: 5px;
}
.container-dashboard-admin .content form .form-floating {
  margin-bottom: 1em;
}
.container-dashboard-admin .content form .form-floating .info {
  font-size: 0.8em;
  margin-top: 0.5em;
}
.container-dashboard-admin .content form .role,
.container-dashboard-admin .content form .day-work {
  margin-bottom: 1em;
}
.container-dashboard-admin .content form .role .input,
.container-dashboard-admin .content form .day-work .input {
  display: flex;
  margin-top: 1em;
}
.container-dashboard-admin .content form .role .input .form-check,
.container-dashboard-admin .content form .day-work .input .form-check {
  margin-left: 1em;
}
.container-dashboard-admin .content form .role .input .form-check input,
.container-dashboard-admin .content form .role .input .form-check label,
.container-dashboard-admin .content form .day-work .input .form-check input,
.container-dashboard-admin .content form .day-work .input .form-check label {
  cursor: pointer;
}
.container-dashboard-admin .content form .submit {
  width: 100%;
  background-color: #3b86ff;
  border: none;
  outline: none;
  color: #fff;
  font-weight: bold;
  padding: 0.8em 0;
  border-radius: 5px;
}

/*# sourceMappingURL=style.css.map */
