asgiref==3.4.1
Django==3.2.8
django-active-link==0.1.8
django-cors-headers==3.10.0
django-crispy-forms==1.13.0
django-session-timeout==0.1.0
django-sslserver==0.22
djangorestframework==3.12.4
geographiclib==1.52
geopy==2.2.0
numpy==1.21.3
opencv-python==4.5.4.58
Pillow==8.4.0
psycopg2==2.9.1
pytz==2021.3
six==1.16.0
sqlparse==0.4.2
