<?php 

session_start();
require_once "../php/fungsi.php";

// check if the user was logged in
if (!isset($_SESSION["login-button"]) ) {
    header("Location: login");
    exit();
}

if(isset($_GET['id'])){
    $id = $_GET['id'];
} else{
    $id = $_SESSION['id'];
}


// condition when user click the submit button
if (isset($_POST["submit-change"])){
    if (change_password($_POST, $id) > 0){
        echo "
        <script>
            confirm('Berhasil mengubah password');
            document.location.href = '../../index';
        </script>";
    } else{
        echo "
        <script>
            confirm('Gagal mengubah password');
        </script>";
    }
}




?>

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Header Link -->
    <?php include '../php/header.php'; ?>
    
    <title>Ubah Password | SMKN 1 Cibinong</title>
</head>
<body>


<div class="container-edit">

    <div class="input-box">
        <div class="head">
            <h2>Ubah Kata <span>Sandi</span></h2>
        </div>

        <div class="message"><?php if(isset($message)) { echo $message; } ?></div>

        <div class="form">
            <div class="input-data">
                <form action="" method="post">
                    <label for="old_pass">Password Lama</label><br>
                    <input type="password" name="old_pass" id="old_pass" value="" required>
                    <br>

                    <label for="new_pass">Password Baru</label><br>
                    <input type="password" name="new_pass" id="new_pass" value="" required>
                    <br>

                    <label for="conf_pass">Konfirmasi Password</label><br>
                    <input type="password" name="conf_pass" id="conf_pass" value="" required >
                    <br>

                    <div class="button">
                        <button type="submit" name="submit-change">Submit</button>
                        <a href="absen" class="back">Kembali</a>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<!-- Aset Footer berupa javascript -->
<?php include '../php/footer.php' ?>


</body>
</html>
