<?php
	// Cek session user 
	session_start();
	if (!isset($_SESSION["login-button"]) ) {
		header("Location: login");
		exit();
	}

	// Panggil seluruh fungsi php
	require_once "../php/fungsi.php";

	if (isset($_POST["submit-laporan"])){
		if(add_laporan_bimbingan($_POST) > 0){
			echo "
			<script>
				alert('Laporan Berhasil Dibuat');
				document.location.href = 'tampil_laporan-bimbingan';
			</script>";
		} else{
			echo "
			<script>
				alert('Laporan Gagal Dibuat');
			</script>";
		}
	
	}
	
?>

<!DOCTYPE html>
<html>
<head>
	<!-- Header Link -->
	<?php include '../php/header.php'; ?>

	<title>Laporan Bimbingan | SMKN 1 CIBINONG</title>
</head>

<body>

	<!-- Panggil navbar -->
	<?php 

    if($_SESSION['role'] == 'super'){
        include '../php/navbar-super.php';
    } else{
        include '../php/navbar.php';
    } ?>

	<div class="container-laporan">
			

		<form action="" method="post" enctype="multipart/form-data">
      		<h1 class="head">Laporan Bimbingan</h1>
			<div class="input-box">
				<textarea placeholder="Ketikan Laporan Disini" id="laporan" name="laporan" required></textarea>

				<div class="file-button mb-3">
					<label for="formFileMultiple" class="form-label">Upload Dokumentasi Bimbingan</label>
					<input name="bukti" class="form-control" type="file" id="formFileMultiple" multiple required> 
				</div>

				<div class="button">
					<button class="submit" name="submit-laporan">Submit</button>
				</div>
			</div>
		</form>
	</div>




	<!-- Aset Footer berupa javascript -->
	<?php include '../php/footer.php' ?>
</body>
</html>	
