{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Absensiku | SMKN 1 CIBINONG</title>
{% endblock %}
{% block content %}
{% include 'navbar.html' %}
<div class="container" id="container">
    <h2>Rekap Presensi </h2>
    <div id="table-pdf" v-cloak>
        <div class="table-absen">
            <table class="table table-bordered table-striped table-responsive-sm" id="tableOne">
                <thead class="thead-dark">
                    <tr>
                        <th>Tanggal</th>
                        <th>Jam Masuk</th>
                        <th>Bukti Masuk</th>
                        <th>Jam Keluar</th>
                        <th>Bukti Keluar</th>
                        <th>Keterangan Masuk</th>
                        <th>Keterangan Keluar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-if="dataAbsen.length === 0">
                        <td colspan="7" align="center">Data tidak tersedia.</td>
                    </tr>
                    <tr v-for="(data) in dataAbsen">
                        <td>[[ data.presence_date]]</td>
                        <td>[[ data.checkin_time ]]</td>
                        <td><a v-bind:href="data.checkin_img" target="_blank"><img src="" alt="" width='100'>Lihat Bukti</a> </td>
                        <td>[[ data.checkout_time ]]</td>
                        <td><a v-bind:href="data.checkout_img" target="_blank"><img src="" alt="" width='100'>
                        Lihat Bukti</a> </td>
                        <td>[[ data.checkin_desc ]]</td>
                        <td>[[ data.checkout_desc ]]</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="button-print">
            <button type="button" class="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Print <i class='bx bxs-printer'></i>
            </button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Print Absensi</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="pdf">
                                <a class="pdf" href=""> PDF <i class='bx bxs-file-pdf' style='color:#ffffff'></i></a>
                            </div>
                            <div class="excel">
                                <a class="excel" href=""> Excel <i class='bx bxs-file' style='color:#ffffff'></i></a>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Selesai</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block opt_script %}
    
    <script type="text/javascript">
        showDataAbsen()
    </script>

{% endblock %}