@use 'variable'as v;

/* Footer */
.copyright {
    transition: 0.5s;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: v.$secondary-color;
    color: v.$secondary-text-color;
    text-align: center;
    height: 30px;
    @include v.horizontal-centered;

    * {
        transition: 0.5s;
    }

    p {
        font-size: 14px;
    }

    span {
        font-weight: 700;

        a {
            text-decoration: none;
            color: v.$secondary-text-color;
            transition: unset;

            &:hover {
                text-decoration: underline;
            }

        }

    }

}

@media screen and (min-width: 300px) and (max-width: 470px) {
    .copyright p {
        font-size: 10px !important;
    }
}