@use '../template/variable'as v;


/*======================= Login Page =======================*/
.container-login {
	@include v.horizontal-centered;
	width: 100%;
	height: 100vh;

	.box {
		width: 60%;
		height: 70%;
		display: flex;
		align-items: center;
		background-color: rgba(v.$secondary-color, 0.1);
		border-radius: max(20px, 1vw);
		box-shadow: 0 max(5px, .5vw) max(10px, 1vw) 0 rgba(0, 0, 0, 0.1);

		.login-box {
			width: 50%;
			height: 100%;

			// Logo
			.image {
				@include v.horizontal-centered;
				height: 40%;

				img {
					width: 40%;
					height: 80%;
				}
			}



			/*LOGIN Form login*/
			.form {
				height: 60%;
				text-align: center;
				padding-top: 50px;

				.input-form {
					margin: auto;
					width: 80%;
					@include v.horizontal-centered;
					position: relative;

					input {
						border-radius: v.$rounded;
						border: none;
						margin: max(.6em, .5vw) 0;
						padding: max(.6em, .5vw);
						background-color: rgba(v.$secondary-color, 0.1);
						box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
						box-sizing: border-box;
						font-size: v.$dekstop-font-size;
						width: 100%;

						&:focus {
							box-shadow: 0 0 3px 2px #478dff;
						}
					}

					input[name='password']{
						padding-right: 3vw;
					}

					i {
						position: absolute;
						right: 0;
						margin-right: max(.8em, .8vw);
						font-size: max(1.2em, 1.2vw);
						color: v.$secondary-text-color;
					}
				}

				/*LOGIN Button Form*/
				.button-form {
					width: 100%;
					height: auto;
					@include v.horizontal-centered;

					.submit {
						width: 80%;
						padding: max(.6em, .5vw);
						margin: max(.5em, .5vw) max(.8em, .5vw) 0;
						border-radius: v.$rounded;
						cursor: pointer;
						background-color: v.$primary-color;
						color: v.$secondary-color;
						border: none;
						font-weight: v.$text-medium;
						transition: unset;
						font-size: max(1em, 1vw);

						&:hover {
							color: lightblue;
							font-weight: v.$text-bold
						}
					}
				}
			}
		}

		// Image Banner Illustration
		.image-banner {
			width: 50%;
			height: 100%;
			background-color: v.$primary-color;
			background-image: linear-gradient(155deg, v.$primary-color 53%, #0071fd 99%);
			border-bottom-right-radius: inherit;
			border-top-right-radius: inherit;

			.image {
				width: 100%;
				height: 50%;
				display: flex;
				justify-content: center;

				img {
					width: 100%;
					padding: max(10px, .5vw);
				}
			}

			.bottom-text {
				height: 50%;
				padding-top: max(30px, 2vw);

				.head {
					text-align: center;
					font-weight: v.$text-bold;
					color: v.$secondary-color;
					font-size: max(30px, 2vw);
				}

				.body {
					text-align: center;

					p {
						background-color: v.$secondary-color;
						display: inline-block;
						padding: max(10px, 1vw);
						margin-top: max(10px, 1vw);
						font-size: max(30px, 2vw);
						border-radius: v.$rounded;
						word-spacing: 10px;

						span {
							@include v.gradient-text;
							font-weight: v.$text-bold;
						}
					}
				}
			}
		}
	}
}


@media screen and (max-width: 575px) {
	.container-login {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100vh;
		padding-bottom: 20%;

		.box {
			width: 80%;
			height: auto;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			margin-top: 50px;
			align-items: center;
			background-color: #fff;

			.login-box {
				width: 100%;
				height: 100%;

				.image {
					height: 20%;
					padding-top: 20px;
				}

				/*LOGIN Form login*/
				.form {
					height: 60%;
					text-align: center;
					padding: 30px 20px 20px;

					input {
						margin: 5px 0;
						padding: 10px;
						width: 100%;
						font-size: 3.2vw;
					}

					.button .submit {
						width: 100%;
						padding: 10px;
						margin: 5px 0 0;
						font-size: 3.2vw;
						font-weight: 700;
					}
				}
			}

			.image-banner {
				display: none;
			}
		}
	}

}

@media screen and (min-width: 576px) and (max-width: 1300px) {
	.container-login {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100vh;

		.box {
			width: 80%;
			height: auto;
		}

		.image-banner {
			height: unset;

			.bottom-text {
				height: 50%;
				padding-top: 30px;

				.head {
					font-size: 1.5rem;
				}

				.body p {
					padding: 5px;
					font-size: 1.5;
				}
			}
		}
	}
}