@use 'variable' as v;

/*  Navbar */
nav.navbar {

    .navbar-brand {
        margin: 0 20px;
    }

    .navbar-collapse{
        justify-content: space-between;

        .navbar-nav {
            text-align: center;
            transition: 0.3s;
    
            .nav-item {
                width: 100%;
                margin: 0 20px;
    
                .nav-link {
                    font-weight: 500;
                    border-radius: 5px;
                    width: 150px;

                    &:hover {
                        color: white !important;
                        background-color: v.$primary-color;
                    }
                }
    
                .nav-link.active {
                    color: white !important;
                    background-color: v.$primary-color;
                }
    
                .nav-link#navbarDropdownMenuLink {
                    width: 100%;
                }
            }
        }    
        
        ul.dropdown-menu {
            min-width: 0;
            padding: 0;
            right: auto;
            left: 50%;
            transform: translate(-50%, 0);
            transition: all 0.3s;
            max-height: 0;
            display: block;
            overflow: hidden;
            opacity: 0;
            visibility: hidden;
        }

        ul.dropdown-menu.show {
            max-height: 500px;
            opacity: 1;
            visibility: visible;
        }
    }
}







@media screen and (min-width: 300px) and (max-width: 991px) {
    nav.navbar{

        .navbar-brand {
            margin: 0;
        }

       .navbar-nav .nav-item {
            margin: 0;

            .nav-link {
                font-weight: 500;
                border-radius: 5px;
                width: 100%;
                margin: 0;
            }

            ul.dropdown-menu {
                text-align: center;
                margin-left: 0;
                right: unset;
                left: unset;
                transform: unset;
            }
        }
    } 

     
}

@media screen and (min-width: 992px) and (max-width: 1050px) {
    nav.navbar{

        .navbar-brand {
            margin: 0 10px;
        }

        .navbar-nav .nav-item {
            width: 100%;
            margin: 0 10px;
        }
    }



    
}