@use 'variable'as v;

.sidebar {
    width: 15%;
    height: 100vh;
    background-color: #3b86ff;
    position: fixed;
    top: 0;
    left: 0;

    .brand {
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: #fff;
        font-size: 1.2em;
        padding: 1em 0;

        span {
            font-weight: bold;
        }

        i {
            font-size: 1.5em;
        }
    }

    nav {
        color: #fff;
        padding: 0 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        a {
            margin-top: 2em;
            font-size: 1em;
            display: flex;
            align-items: center;
            color: #fff;
            text-decoration: none;

            span {
                padding: 0 .5em;
            }

            i {
                font-size: 1.5em;
            }
        }

        a.active {
            background-color: #fff;
            border-radius: 10px;
            color: #3b86ff;
            padding: 10px;
            font-weight: bold;
        }

        .profile {
            margin-bottom: 80px;

            .bx-log-out-circle {
                margin-left: auto;
            }
        }

    }
}