@use 'variable'as v;

/*  Navbar */
nav.navbar-admin {
    .container-fluid {
        padding: 0;

        .navbar-brand {
            margin: max(.5em, .7vw) max(.5em, 1vw);

            img {
                width: max(50px, 4vw);
                height: auto;
            }
        }

        .offcanvas {
            .offcanvas-header {
                .offcanvas-title {
                    @include v.gradient-text;
                    font-weight: 700;
                }
            }

            .offcanvas-body {
                @include v.horizontal-centered;
                justify-content: space-between;

                .navbar-nav {
                    text-align: center;

                    .nav-item {
                        margin: max(.5em, 1.2vw);

                        a {
                            text-decoration: none;
                            color: v.$primary-text-color;
                            font-size: max(1em, 1vw);
                            font-weight: 500;
                            transition: 0.3s;

                            span {
                                border-radius: max(5px, .3vw);
                            }

                            &:hover {
                                color: v.$primary-color;
                            }
                        }

                        a.active span {
                            color: white !important;
                            background-color: v.$primary-color;
                            padding: .5em 1em;
                        }
                    }

                    .nav-item.profile {
                        a.nav-link {
                            font-size: max(1em, 1.2vw);
                            font-weight: v.$text-medium;
                            color: v.$primary-color;
                            padding: 0;
                        }

                        ul {
                            font-size: max(1em, 1.2vw);

                            a {
                                color: v.$primary-text-color;

                                &:hover {
                                    color: v.$primary-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {
    nav.navbar-admin {
        .container-fluid {
            padding: 0 1em;

            .offcanvas {
                .offcanvas-body {
                    display: block;
                    text-align: left;

                    .navbar-nav {
                        text-align: left;

                        .nav-item {
                            a {
                                display: block;
                                width: 100%;
                            }
                        }

                        .nav-item.profile {
                            a.nav-link {
                                font-size: max(1em, 1.2vw);
                                font-weight: v.$text-medium;
                                color: v.$primary-color;
                                text-align: left;
                            }

                            ul {
                                font-size: max(1em, 1.2vw);

                                a {
                                    color: v.$primary-text-color;

                                    &:hover {
                                        color: v.$primary-color;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}