@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@400;500;700&display=swap');


// Color
$primary-color: #3b86ff;
$secondary-color: #ebebeb;

$primary-text-color: #2B2024;
$secondary-text-color: #8e8e8f;


// Font
$primary-font: "Poppins",sans-serif;


// Mixin property
@mixin centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin table {
    max-height: 500px;
    overflow: auto;
    margin-top: 1em;

    table {
        width: 100%;

        th,
        td {
            padding: 1em;
            vertical-align: top;
        }

        thead {
            tr {
                background-color: #f8f8f8;
                border-bottom: 1px solid #EDF3FB;
                position: sticky;
                top: 0;

                th{
                    white-space: nowrap;
                }
            }
        }

        tbody {
            tr {
                border-bottom: 1px solid #EDF3FB;
            }
        }
    }
}

// Global Property
* {
    margin: 0;
    padding: 0;
    font-family: $primary-font;
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

body {
    position: relative;
    min-height: 100vh;
}

body::after {
    content: "";
    display: block;
    height: 30px;
}

p {
    margin-bottom: 0;
}

[v-cloak] {
    display: none;
}