@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

// Color
$primary-color: rgb(59, 134, 255);
$secondary-color: rgb(235, 235, 235);
$primary-text-color: rgba(0,0,0,.55);
$secondary-text-color: rgb(142, 142, 143);

// Font Bold
$text-regular: 600;
$text-medium: 700;
$text-bold: 900;

// Font
$primary-font: "Poppins",sans-serif;

// Rounded
$rounded: max(5px,.3vw);

// Font Size
$dekstop-font-size: max(1em,1vw);

// Mixin property
@mixin horizontal-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin gradient-text {
    font-weight: 700;
    background-image: linear-gradient(to right, #00b4db, #3b86ff);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

@mixin table {
    max-height: max(500px,30vw);
    overflow: auto;
    margin-top: 1em;

    table {
        width: 100%;

        th,
        td {
            padding: 1em;
            vertical-align: top;
            font-size: max(1em,.8vw);
        }

        td{
            max-width: 300px;
            overflow-wrap: break-word;
        }

        thead {
            tr {
                background-color: #f8f8f8;
                border-bottom: 1px solid #EDF3FB;
                position: sticky;
                top: 0;

                th{
                    white-space: nowrap;
                }
            }
        }

        tbody {
            tr {
                border-bottom: 1px solid #EDF3FB;
            }
        }
    }
}

// Global Property
* {
    margin: 0;
    padding: 0;
    font-family: $primary-font;
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

body {
    position: relative;
    min-height: 100vh;
}

body::after {
    content: "";
    display: block;
    height: 30px;
}

p {
    margin-bottom: 0;
}

[v-cloak] {
    display: none;
}

.swal-modal .swal-text {
    text-align: center !important;
}

ul.dropdown-menu {
    min-width: 0;
    padding: 0;
    right: auto;
    transition: all 0.3s;
    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
}

ul.dropdown-menu.show {
    max-height: 500px;
    opacity: 1;
    visibility: visible;
}

.button-filter{
    display: flex;
    justify-content: flex-end;
}


.button-filter .modal .modal-body{
    display: flex;
    justify-content: space-around;
}

.button-filter .modal .modal-body .date label{
    font-weight: 700;
    background-color: #0d6efd;
    color: #fff;
    padding: 5px 10px;
}

.button-filter .modal .modal-body .date input{
    padding: 5px 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.button-print{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.button-print button.button{
    padding: 10px;
    border-radius: 5px;
    background-color: #0d6efd;
    color: #fff;
    outline: none;
    border: none;
    width: 150px;
    display: flex;
    justify-content: center;
    transition: unset;
    align-items: center;
}

.button-print button.button:hover{
    font-weight: 700;
}

.button-print button.button i{
    font-size: 25px;
    margin-left: 10px;
}

.button-print .modal .modal-body{
    display: flex;
}

.button-print .modal .modal-body .pdf,
.button-print .modal .modal-body .excel{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.button-print .modal .modal-body  a{
    text-align: center;
    width: 100px;
    padding: 10px 0px;
    border-radius: 5px;
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: #0d6efd;
    transition: unset;
}

.button-print .modal .modal-body  a:hover{
    font-weight: 900;
}


.button-print .modal .modal-body i{
    margin-left: 10px;
    font-size: 24px;
}

@media screen and (min-width: 300px) and (max-width: 995px){
    .button-filter  button.button{
        padding: 10px;
        margin-top: 15px;
        width: 120px;
        font-size: 12px;
    }

    .button-filter  i{
        font-size: 12px;
    }

    .button-filter  .modal .modal-body{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .button-filter .modal .modal-body .date{
        width: 100%;
        display: flex;
        margin: 10px 0;
    }

    .button-filter .modal .modal-body .date label{
        font-size: 14px;
        width: 100px;
        text-align: center;
    }

    .button-filter .modal .modal-body .date input{
        font-size: 14px;
    }

    .button-print button.button{
        padding: 10px;
        font-size: 12px;
        width: 100px;
    }

    .button-print button.button i{
        font-size: 12px;
    }

    .button-print .modal .modal-body a{
        font-size: 12px;
    }

    .button-print .modal .modal-body i{
        margin-left: 5px;
        font-size: 12px;
    }
}






.pdf-header{
    display: flex;
    margin-bottom: 10px;
    align-items: center;

    p{
        font-size: 20px;
        font-weight: bold;
        padding-left: 2em;
        padding-right: 8em;
        text-align: center;
        text-transform: uppercase;
    }
}