@use 'template/variable' as v;
@use 'template/global';
@use 'template/navbar';
@use 'template/sidebar';
@use 'template/footer';
@use 'template/error';

@use 'template-view/login';
@use 'template-view/absen';
@use 'template-view/laporan-belajar';
@use 'template-view/laporan-bimbingan';
@use 'template-view/laporan-tugas';
@use 'template-view/laporan-pengembangan';
@use 'template-view/laporan-karya';





/*======================= Tampil Laporan and Absen Page =======================*/
.container {
  padding-top: 100px;
  transition: 0.5s;
  padding-bottom: 10%;
}

.container * {
  transition: 0.5s;
}

.container #table-pdf .table-absen {
  max-height: 400px;
  overflow: auto;
  border-collapse: collapse;
  border: none;
}

.container #table-pdf .table-laporan {
  max-height: 400px;
  overflow: auto;
}

.container .searchBar {
  background-color: #f7f7f7;
  display: inline-block;
  border-radius: 5px;
  width: 100%;
}

.container .searchBar .search {
  padding: 10px;
  display: flex;
  align-items: center;
}

.container .searchBar .search i {
  font-size: 30px;
}

.container .searchBar .search .cari {
  border: none;
  outline: none;
  background-color: transparent;
  margin-left: 10px;
  width: 100%;
}

/* Warnanya ganti biar sesuai sama palet aja */
.container #table-pdf .table-absen .late {
  background-color: #FFCD00;
  color: #fff;
}

.container #table-pdf .table-absen .masuk {
  background-color: #7CBD1E;
  color: #fff;
}

.container #table-pdf .table-absen .izin {
  background-color: #53ddf5;
  color: #fff;
}

.container #table-pdf .table-absen .alpa {
  background-color: #BE0000;
  color: #fff;
}

.container-user #table-pdf .table-absen .late {
  background-color: #FFCD00;
  color: #fff;
}

.container-user #table-pdf .table-absen .masuk {
  background-color: #7CBD1E;
  color: #fff;
}

.container-user #table-pdf .table-absen .izin {
  background-color: #53ddf5;
  color: #fff;
}

.container-user #table-pdf .table-absen .alpa {
  background-color: #BE0000;
  color: #fff;
}

.container form .button-group {
  display: flex;
  width: 70%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 40px 0 20px;
}

.container form .button-group .button button.button {
  padding: 10px;
  border-radius: 5px;
  background-color: #0d6efd;
  color: #fff;
  outline: none;
  border: none;
  width: 150px;
  display: flex;
  justify-content: center;
  transition: unset;
  align-items: center;
}

.container form .button-group .button button.button:hover {
  font-weight: 700;
}

.container form .button-group .button i {
  font-size: 25px;
  margin-left: 10px;
}

.container form .button-group .button .modal .modal-body {
  display: flex;
  justify-content: space-around;
}

.container form .button-group .button .modal .modal-body .date label {
  font-weight: 700;
  background-color: #0d6efd;
  color: #fff;
  padding: 5px 10px;
}

.container form .button-group .button .modal .modal-body .date input {
  padding: 5px 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.container #table-pdf .button-print {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.container #table-pdf .button-print button.button {
  padding: 10px;
  border-radius: 5px;
  background-color: #0d6efd;
  color: #fff;
  outline: none;
  border: none;
  width: 150px;
  display: flex;
  justify-content: center;
  transition: unset;
  align-items: center;
}

.container #table-pdf .button-print button.button:hover {
  font-weight: 700;
}

.container #table-pdf .button-print button.button i {
  font-size: 25px;
  margin-left: 10px;
}

.container #table-pdf .button-print .modal .modal-body {
  display: flex;
}

.container #table-pdf .button-print .modal .modal-body .pdf,
.container #table-pdf .button-print .modal .modal-body .excel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.container #table-pdf .button-print .modal .modal-body a {
  text-align: center;
  width: 100px;
  padding: 10px 0px;
  border-radius: 5px;
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: #0d6efd;
  transition: unset;
}

.container #table-pdf .button-print .modal .modal-body a:hover {
  font-weight: 900;
}

.container #table-pdf .button-print .modal .modal-body i {
  margin-left: 10px;
  font-size: 24px;
}

@media screen and (min-width: 300px) and (max-width: 995px) {
  .container {
    margin-top: 100px;
    position: relative;
  }

  .container #table-pdf table {
    font-size: 12px !important;
  }

  .container form .button-group {
    width: 100%;
    justify-content: space-around;
    margin: 20px 0;
  }

  .container form .button-group .button button.button {
    padding: 10px;
    margin-top: 15px;
    width: 120px;
    font-size: 12px;
  }

  .container form .button-group .button i {
    font-size: 12px;
  }

  .container form .button-group .button .modal .modal-body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .container form .button-group .button .modal .modal-body .date {
    width: 100%;
    display: flex;
    margin: 10px 0;
  }

  .container form .button-group .button .modal .modal-body .date label {
    font-size: 14px;
    width: 100px;
    text-align: center;
  }

  .container form .button-group .button .modal .modal-body .date input {
    font-size: 14px;
  }

  .container #table-pdf .button-print button.button {
    padding: 10px;
    font-size: 12px;
    width: 100px;
  }

  .container #table-pdf .button-print button.button i {
    font-size: 12px;
  }

  .container #table-pdf .button-print .modal .modal-body a {
    font-size: 12px;
  }

  .container #table-pdf .button-print .modal .modal-body i {
    margin-left: 5px;
    font-size: 12px;
  }
}
/*======================= Edit,Change Password,Add Page =======================*/
.container-edit {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 10%;
  padding-bottom: 10%;
  transition: 0.5s;
}

.container-edit * {
  transition: 0.5s;
}

.container-edit .input-box {
  height: auto;
  width: 60%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px 0;
}

.container-edit .input-box .head {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-edit .input-box .head h2 {
  font-weight: 500;
}

.container-edit .input-box .head span {
  font-weight: 700;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 51%, #1FA2FF 100%);
  background-size: 200% auto;
}

.container-edit .input-box .form {
  width: 80%;
}

.container-edit .input-box .form .input-data label {
  margin-top: 50px;
}

.container-edit .input-box .form .input-data input {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  filter: none;
}

.container-edit .input-box .form .input-data input:focus {
  outline: none;
}

/* Change the white to any color for chrome*/
.container-edit .input-box .form .input-data input:-webkit-autofill,
.container-edit .input-box .form .input-data input:-webkit-autofill:hover,
.container-edit .input-box .form .input-data input:-webkit-autofill:focus,
.container-edit .input-box .form .input-data input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset !important;
}

.container-edit .input-box .form .role {
  text-align: center;
  margin-top: 50px;
  transition: unset;
}

.container-edit .input-box .form .role h1 {
  text-align: left;
  font-size: 1rem;
}

.container-edit .input-box .form .role label {
  cursor: pointer;
  margin: 30px 20px 0;
  padding: 10px 10px;
  width: 20%;
  border-radius: 5px;
  transition: 0.3s all ease;
  text-transform: capitalize;
  border: 1px solid black;
  text-align: center;
}

.container-edit .input-box .form .role input {
  display: none;
}

.container-edit .input-box .form .role input:checked + label {
  background-color: #3b86ff;
  color: white;
  border-color: #3b86ff;
  font-weight: 700;
}

.container-edit .input-box .form .day-check {
  text-align: center;
  margin-top: 50px;
}

.container-edit .input-box .form .day-check h1 {
  text-align: left;
  font-size: 1rem;
}

.container-edit .input-box .form .day-check .form-check {
  margin-top: 20px;
}

.container-edit .input-box .form .day-check .form-check input {
  transition: unset;
}

.container-edit .input-box .form .day-check .form-check label {
  text-transform: capitalize;
}

.container-edit .input-box .form .button {
  text-align: center;
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

.container-edit .input-box .form .button button {
  width: 45%;
  padding: 10px;
  background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 51%, #1FA2FF 100%);
  border: none;
  outline: none;
  border-radius: 5px;
  transition: 0.5s;
  color: white;
  font-weight: 900;
  background-size: 200% auto;
  text-decoration: none;
  margin-top: 30px;
}

.container-edit .input-box .form .button a {
  width: 45%;
  padding: 10px;
  background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 51%, #1FA2FF 100%);
  border: none;
  outline: none;
  border-radius: 5px;
  transition: 0.5s;
  color: white;
  font-weight: 900;
  background-size: 200% auto;
  text-decoration: none;
  margin-top: 30px;
}

.container-edit .input-box .form .button button:hover,
.container-edit .input-box .form .button a:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
}

/* Responsive */
@media screen and (min-width: 300px) and (max-width: 575px) {
  .container-edit .input-box {
    height: auto;
    width: 90%;
  }

  .container-edit .input-box .form * {
    font-size: 12px !important;
  }

  .container-edit .input-box .head h2 {
    font-size: 18px;
  }

  .container-edit .input-box .form {
    width: 80%;
  }

  .container-edit .input-box .form .input-data label {
    margin-top: 30px;
  }

  .container-edit .input-box .form .input-data input {
    margin: 10px 0;
    padding: 5px;
  }

  .container-edit .input-box .form .role label {
    margin: 20px 0 0;
    width: 30%;
  }

  .container-edit .input-box .form .day-check .form-check {
    margin-top: 20px;
  }
}
@media screen and (min-width: 576px) and (max-width: 800px) {
  .container-edit .input-box {
    height: auto;
    width: 90%;
  }

  .container-edit .input-box .form * {
    font-size: 16px !important;
  }

  .container-edit .input-box .head h2 {
    font-size: 18px;
  }

  .container-edit .input-box .form {
    width: 80%;
  }

  .container-edit .input-box .form .input-data label {
    margin-top: 30px;
  }

  .container-edit .input-box .form .input-data input {
    margin: 10px 0;
    padding: 5px;
  }

  .container-edit .input-box .form .day-check .form-check {
    margin-top: 20px;
  }
}
@media screen and (min-width: 801px) and (max-width: 1100px) {
  .container-edit .input-box {
    height: auto;
    width: 80%;
  }

  .container-edit .input-box .form * {
    font-size: 18px !important;
  }

  .container-edit .input-box .head h2 {
    font-size: 24px;
  }

  .container-edit .input-box .form {
    width: 80%;
  }

  .container-edit .input-box .form .input-data label {
    margin-top: 30px;
  }

  .container-edit .input-box .form .input-data input {
    margin: 10px 0;
    padding: 5px;
  }

  .container-edit .input-box .form .day-check .form-check {
    margin-top: 20px;
  }
}
/*======================= Dashboard Admin Page =======================*/
.container-admin {
  display: flex;
  padding-bottom: 100px;
  transition: 0.5s;
}

.container-admin * {
  transition: 0.5s;
}

.container-admin .dashboard {
  width: 85%;
  padding: 50px;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
}

.container-admin .dashboard .dashboard-image {
  width: 50%;
}

.container-admin .dashboard .dashboard-image .image {
  width: 100%;
  text-align: right;
  height: 100%;
}

.container-admin .dashboard .dashboard-image img {
  height: 100%;
  width: 100%;
}

.container-admin .dashboard .left-content {
  width: 50%;
}

.container-admin .dashboard .card-data {
  margin: 20px 10px;
  width: 40%;
  background-color: #3b86ff;
  background-image: linear-gradient(155deg, #0071fd 53%, #3b86ff 99%);
  height: 100px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.container-admin .dashboard .card-data p {
  color: white;
  font-weight: 700;
  padding-left: 10px;
}

.container-admin .dashboard .card-data span {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  color: #0d6efd;
  font-weight: 900;
  margin-left: 5px;
}

/* Responsive Dashboard Admin */
@media screen and (min-width: 300px) and (max-width: 575px) {
  .container-admin .dashboard {
    padding: 10px;
    flex-wrap: wrap-reverse;
  }

  .container-admin .dashboard .dashboard-image {
    width: 100%;
  }

  .container-admin .dashboard .dashboard-image .image {
    width: 100%;
    height: 100%;
  }

  .container-admin .dashboard .dashboard-image img {
    width: 90%;
    height: 90%;
  }

  .container-admin .dashboard .left-content {
    width: 100%;
  }

  .container-admin .dashboard .card-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .container-admin .dashboard .card-data {
    margin: 20px 10px;
    width: 70%;
    height: 40px;
    font-size: 12px;
  }

  .container-admin .dashboard .card-data p {
    padding-left: 20%;
    margin-bottom: 0;
  }

  .container-admin .dashboard .card-data span {
    padding: 5px;
    font-size: 12px;
  }
}
@media screen and (min-width: 576px) and (max-width: 1000px) {
  .container-admin .dashboard {
    padding: 10px;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    text-align: right;
  }

  .container-admin .dashboard .dashboard-image {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .container-admin .dashboard .dashboard-image .image {
    width: 50%;
    height: 100%;
    margin: 0 auto;
  }

  .container-admin .dashboard .left-content {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .container-admin .dashboard .card-group {
    justify-content: center;
  }

  .container-admin .dashboard .card-data {
    font-size: 16px;
    height: 80px;
  }

  .container-admin .dashboard .card-data span {
    padding: 5px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1001px) and (max-width: 1300px) {
  .container-admin .dashboard .card-data {
    font-size: 12px;
    height: 80px;
  }

  .container-admin .dashboard .card-data span {
    padding: 5px;
    font-size: 12px;
  }
}
/*======================= Display Data User Page Admin =======================*/
.container-user {
  display: flex;
  padding-bottom: 100px;
}

.container-user * {
  transition: 0.5s;
}

.container-user .data-user {
  width: 85%;
  padding: 50px;
  margin-left: auto;
}

.container-user .data-user .table .table-user {
  max-height: 400px;
  overflow: auto;
}

.container-user .data-user #table-pdf .table-absen {
  overflow-x: auto;
  max-height: 400px;
  margin-top: 10px;
  margin-bottom: 0;
}

.container-user .data-user .table table.table tbody tr td .edit {
  color: #13cb6e;
  transition: 0.3s;
  width: 100%;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: 2px solid #13cb6e;
  box-sizing: border-box;
  padding: 5px;
}

.container-user .data-user .table table.table tbody tr td .hapus {
  color: #c64b3b;
  border: 2px solid #c64b3b;
  transition: 0.5s;
  width: 100%;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin-top: 5px;
  box-sizing: border-box;
  padding: 5px;
}

.container-user .data-user .table table.table tbody tr td .edit:hover {
  background-color: #13cb6e;
  color: #fff;
}

.container-user .data-user .table table.table tbody tr td .hapus:hover {
  background-color: #c64b3b;
  color: #fff;
}

.container-user .searchBar .search {
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 100%;
}

.container-user .searchBar .search i {
  font-size: 30px;
}

.container-user .searchBar .search .cari {
  border: none;
  outline: none;
  background-color: transparent;
  margin-left: 10px;
  width: 100%;
}

.container-user .data-user form .button-group {
  display: flex;
  width: 70%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container-user .data-user form .button-group .button button.button {
  padding: 10px;
  border-radius: 5px;
  background-color: #0d6efd;
  color: #fff;
  outline: none;
  border: none;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: unset;
}

.container-user .data-user form .button-group .button button.button:hover {
  font-weight: 700;
}

.container-user .data-user form .button-group .button i {
  font-size: 25px;
  margin-left: 10px;
}

.container-user .data-user form .button-group .button .modal .modal-body {
  display: flex;
  justify-content: space-around;
}

.container-user .data-user form .button-group .button .modal .modal-body .date label {
  font-weight: 700;
  background-color: #0d6efd;
  color: #fff;
  padding: 5px 10px;
}

.container-user .data-user form .button-group .button .modal .modal-body .date input {
  padding: 5px 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.container-user .data-user .addUser {
  text-align: right;
  margin: 20px 0;
}

.container-user .data-user .addUser a {
  padding: 10px;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  background-color: #4891fc;
  text-decoration: none;
}

.container-user #table-pdf .button-print {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.container-user #table-pdf .button-print button.button {
  padding: 10px;
  border-radius: 5px;
  background-color: #0d6efd;
  color: #fff;
  outline: none;
  border: none;
  width: 150px;
  display: flex;
  justify-content: center;
  transition: unset;
  align-items: center;
}

.container-user #table-pdf .button-print button.button:hover {
  font-weight: 700;
}

.container-user #table-pdf .button-print button.button i {
  font-size: 25px;
  margin-left: 10px;
}

.container-user #table-pdf .button-print .modal .modal-body {
  display: flex;
}

.container-user #table-pdf .button-print .modal .modal-body .pdf,
.container-user #table-pdf .button-print .modal .modal-body .excel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.container-user #table-pdf .button-print .modal .modal-body a {
  text-align: center;
  width: 100px;
  padding: 10px 0px;
  border-radius: 5px;
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: #0d6efd;
  transition: unset;
}

.container-user #table-pdf .button-print .modal .modal-body a:hover {
  font-weight: 900;
}

.container-user #table-pdf .button-print .modal .modal-body i {
  margin-left: 10px;
  font-size: 24px;
}

@media screen and (min-width: 300px) and (max-width: 575px) {
  .container-user .data-user {
    width: 80%;
    padding: 0px;
  }

  .container-user .data-user .table {
    overflow-y: auto;
    max-height: 600px;
    overflow-x: auto;
    margin-top: 5px;
  }

  .container-user .data-user .table * {
    font-size: 12px;
  }

  .container-user .searchBar {
    display: flex;
    justify-content: flex-end;
  }

  .container-user .searchBar .search {
    padding: 10px;
    width: 90%;
    margin: 10px 0;
    font-size: 12px;
    margin-right: 10px;
  }

  .container-user .searchBar .search i {
    font-size: 20px;
  }

  .container-user .data-user form select {
    transition: 1s ease all;
    background-color: #3b86ff;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px;
    text-align: center;
    transition: 1s ease all;
    width: 150px;
    cursor: pointer;
  }

  .container-user .data-user .addUser {
    width: 100%;
    margin: 0;
  }

  .container-user .data-user .addUser a {
    padding: 10px;
    text-align: center;
    width: 50%;
    display: inline-block;
    font-size: 12px;
    margin-right: 10px;
  }

  .container-user .data-user form .button-group {
    width: 100%;
    justify-content: space-around;
  }

  .container-user .data-user form .button-group .button button.button {
    padding: 10px;
    margin-top: 10px;
    width: 100px;
    font-size: 12px;
  }

  .container-user .data-user form .button-group .button i {
    font-size: 12px;
  }

  .container-user .data-user form .button-group .button .modal .modal-body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .container-user .data-user form .button-group .button .modal .modal-body .date {
    width: 100%;
    display: flex;
    margin: 10px 0;
  }

  .container-user .data-user form .button-group .button .modal .modal-body .date label {
    font-size: 14px;
    width: 100px;
    text-align: center;
  }

  .container-user .data-user form .button-group .button .modal .modal-body .date input {
    font-size: 14px;
  }

  .container-user #table-pdf .button-print {
    padding-bottom: 10%;
  }

  .container-user #table-pdf .button-print button.button {
    padding: 10px;
    font-size: 12px;
    width: 100px;
  }

  .container-user #table-pdf .button-print button.button i {
    font-size: 12px;
  }

  .container-user #table-pdf .button-print .modal .modal-body a {
    font-size: 12px;
  }

  .container-user #table-pdf .button-print .modal .modal-body i {
    margin-left: 5px;
    font-size: 12px;
  }
}
@media screen and (min-width: 575px) and (max-width: 1200px) {
  .container-user .data-user {
    width: 80%;
    padding: 0px;
  }

  .container-user .data-user .table {
    overflow-y: auto;
    max-height: 600px;
    overflow-x: auto;
    margin-top: 5px;
  }

  .container-user .data-user .table * {
    font-size: 14px;
  }

  .container-user .searchBar {
    display: flex;
    justify-content: flex-end;
  }

  .container-user .searchBar .search {
    padding: 10px;
    width: 90%;
    margin: 10px 0;
    font-size: 14px;
    margin-right: 10px;
  }

  .container-user .searchBar .search i {
    font-size: 20px;
  }

  .container-user .data-user form select {
    transition: 1s ease all;
    background-color: #3b86ff;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px;
    text-align: center;
    transition: 1s ease all;
    width: 150px;
    cursor: pointer;
  }

  .container-user .data-user .addUser {
    width: 100%;
    margin: 0;
  }

  .container-user .data-user .addUser a {
    padding: 10px;
    text-align: center;
    width: 30%;
    display: inline-block;
    font-size: 14px;
    margin-right: 10px;
  }

  .container-user .data-user form .button-group {
    width: 100%;
    justify-content: space-around;
  }

  .container-user .data-user form .button-group .button button.button {
    padding: 10px;
    margin-top: 10px;
    width: 150px;
    font-size: 14px;
  }

  .container-user .data-user form .button-group .button i {
    font-size: 12px;
  }

  .container-user .data-user form .button-group .button .modal .modal-body {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .container-user .data-user #table-pdf .button-print {
    padding-bottom: 10%;
  }

  .container-user .data-user #table-pdf .button-print button.button {
    padding: 10px;
    font-size: 14px;
    width: 100px;
  }

  .container-user .data-user #table-pdf .button-print button.button i {
    font-size: 12px;
  }

  .container-user .data-user #table-pdf .button-print .modal .modal-body a {
    font-size: 12px;
  }

  .container-user .data-user #table-pdf .button-print .modal .modal-body i {
    margin-left: 5px;
    font-size: 12px;
  }
}
/*======================= Display Laporan User Page Admin =======================*/
.container-laporan-admin {
  width: 85%;
  padding: 20px;
  margin-left: auto;
}

.container-laporan-admin * {
  transition: 0.5s;
}

.container-laporan-admin .navbar-data .nav-item {
  width: 30%;
  transition: unset;
}

.container-laporan-admin .navbar-data .nav-item a {
  border: none;
  box-sizing: border-box;
}

.container-laporan-admin .navbar-data .nav-item a:hover {
  border: 1px solid #0d6efd;
  box-sizing: border-box;
}

.container-laporan-admin .navbar-data .nav-item a.active {
  border: none;
  background-color: #0d6efd;
  color: #fff;
  font-weight: 700;
}

.container-data-admin #table-pdf .table-laporan {
  max-height: 400px;
  overflow: auto;
}

.container-data-admin .searchBar {
  background-color: #f7f7f7;
  display: inline-block;
  border-radius: 5px;
  margin-top: 20px;
  width: 100%;
}

.container-data-admin .searchBar .search {
  padding: 10px;
  display: flex;
  align-items: center;
}

.container-data-admin .searchBar .search i {
  font-size: 30px;
}

.container-data-admin .searchBar .search .cari {
  border: none;
  outline: none;
  background-color: transparent;
  margin-left: 10px;
  width: 100%;
}

.container-data-admin form .button-group {
  display: flex;
  width: 70%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0 20px;
}

.container-data-admin form .button-group .button button.button {
  padding: 10px;
  border-radius: 5px;
  background-color: #0d6efd;
  color: #fff;
  outline: none;
  border: none;
  width: 150px;
  display: flex;
  justify-content: center;
  transition: unset;
  align-items: center;
}

.container-data-admin form .button-group .button button.button:hover {
  font-weight: 700;
}

.container-data-admin form .button-group .button i {
  font-size: 25px;
  margin-left: 10px;
}

.container-data-admin form .button-group .button .modal .modal-body {
  display: flex;
  justify-content: space-around;
}

.container-data-admin form .button-group .button .modal .modal-body .date label {
  font-weight: 700;
  background-color: #0d6efd;
  color: #fff;
  padding: 5px 10px;
}

.container-data-admin form .button-group .button .modal .modal-body .date input {
  padding: 5px 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.container-data-admin #table-pdf .button-print {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.container-data-admin #table-pdf .button-print button.button {
  padding: 10px;
  border-radius: 5px;
  background-color: #0d6efd;
  color: #fff;
  outline: none;
  border: none;
  width: 150px;
  display: flex;
  justify-content: center;
  transition: unset;
  align-items: center;
}

.container-data-admin #table-pdf .button-print button.button:hover {
  font-weight: 700;
}

.container-data-admin #table-pdf .button-print button.button i {
  font-size: 25px;
  margin-left: 10px;
}

.container-data-admin #table-pdf .button-print .modal .modal-body {
  display: flex;
}

.container-data-admin #table-pdf .button-print .modal .modal-body .pdf,
.container-data-admin #table-pdf .button-print .modal .modal-body .excel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.container-data-admin #table-pdf .button-print .modal .modal-body a {
  text-align: center;
  width: 100px;
  padding: 10px 0px;
  border-radius: 5px;
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: #0d6efd;
  transition: unset;
}

.container-data-admin #table-pdf .button-print .modal .modal-body a:hover {
  font-weight: 900;
}

.container-data-admin #table-pdf .button-print .modal .modal-body i {
  margin-left: 10px;
  font-size: 24px;
}

@media screen and (min-width: 300px) and (max-width: 995px) {
  .container-laporan-admin .navbar-data .nav-item {
    width: 100%;
  }

  .container-laporan-admin .navbar-data .nav-item a {
    font-size: 12px;
  }

  .container-data-admin .searchBar * {
    font-size: 12px;
  }

  .container-data-admin #table-pdf table {
    font-size: 12px !important;
  }

  .container-data-admin form .button-group {
    width: 100%;
    justify-content: space-around;
  }

  .container-data-admin form .button-group .button button.button {
    padding: 10px;
    margin-top: 10px;
    width: 100px;
    font-size: 12px;
  }

  .container-data-admin form .button-group .button i {
    font-size: 12px;
  }

  .container-data-admin form .button-group .button .modal .modal-body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .container-data-admin form .button-group .button .modal .modal-body .date {
    width: 100%;
    display: flex;
    margin: 10px 0;
  }

  .container-data-admin form .button-group .button .modal .modal-body .date label {
    font-size: 14px;
    width: 100px;
    text-align: center;
  }

  .container-data-admin form .button-group .button .modal .modal-body .date input {
    font-size: 14px;
  }

  .container-data-admin #table-pdf .button-print {
    padding-bottom: 10%;
  }

  .container-data-admin #table-pdf .button-print button.button {
    padding: 10px;
    font-size: 12px;
    width: 100px;
  }

  .container-data-admin #table-pdf .button-print button.button i {
    font-size: 12px;
  }

  .container-data-admin #table-pdf .button-print .modal .modal-body a {
    font-size: 12px;
  }

  .container-data-admin #table-pdf .button-print .modal .modal-body i {
    margin-left: 5px;
    font-size: 12px;
  }
}
@media screen and (min-width: 996px) and (max-width: 1300px) {
  .container-laporan-admin .navbar-data .nav-item a {
    font-size: 14px;
  }

  .container-data-admin .searchBar * {
    font-size: 14px;
  }

  .container-data-admin #table-pdf table {
    font-size: 14px !important;
  }

  .container-data-admin form .button-group {
    width: 100%;
    justify-content: space-around;
  }

  .container-data-admin form .button-group .button button.button {
    padding: 10px;
    margin-top: 10px;
    width: 150px;
    font-size: 14px;
  }

  .container-data-admin form .button-group .button i {
    font-size: 12px;
  }

  .container-data-admin form .button-group .button .modal .modal-body {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .container-data-admin #table-pdf .button-print {
    padding-bottom: 10%;
  }

  .container-data-admin #table-pdf .button-print button.button {
    padding: 10px;
    font-size: 14px;
    width: 100px;
  }

  .container-data-admin #table-pdf .button-print button.button i {
    font-size: 12px;
  }

  .container-data-admin #table-pdf .button-print .modal .modal-body a {
    font-size: 12px;
  }

  .container-data-admin #table-pdf .button-print .modal .modal-body i {
    margin-left: 5px;
    font-size: 12px;
  }
}
/*======================= Display Laporan User Page SuperUser =======================*/
.container-laporan-super {
  width: 95%;
  margin: 100px auto;
  padding: 20px;
}

.container-laporan-super * {
  transition: 0.5s;
}

.container-laporan-super .navbar-data .nav-item {
  width: 30%;
  transition: unset;
}

.container-laporan-super .navbar-data .nav-item a {
  border: none;
  box-sizing: border-box;
}

.container-laporan-super .navbar-data .nav-item a:hover {
  border: 1px solid #0d6efd;
  box-sizing: border-box;
}

.container-laporan-super .navbar-data .nav-item a.active {
  border: none;
  background-color: #0d6efd;
  color: #fff;
  font-weight: 700;
}

.container-data-super #table-pdf .table-laporan {
  max-height: 400px;
  overflow: auto;
}

.container-data-super .searchBar {
  background-color: #f7f7f7;
  display: inline-block;
  border-radius: 5px;
  margin-top: 20px;
  width: 100%;
}

.container-data-super .searchBar .search {
  padding: 10px;
  display: flex;
  align-items: center;
}

.container-data-super .searchBar .search i {
  font-size: 30px;
}

.container-data-super .searchBar .search .cari {
  border: none;
  outline: none;
  background-color: transparent;
  margin-left: 10px;
  width: 100%;
}

.container-data-super form .button-group {
  display: flex;
  width: 70%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0 20px;
}

.container-data-super form .button-group .button button.button {
  padding: 10px;
  border-radius: 5px;
  background-color: #0d6efd;
  color: #fff;
  outline: none;
  border: none;
  width: 150px;
  display: flex;
  justify-content: center;
  transition: unset;
  align-items: center;
}

.container-data-super form .button-group .button button.button:hover {
  font-weight: 700;
}

.container-data-super form .button-group .button i {
  font-size: 25px;
  margin-left: 10px;
}

.container-data-super form .button-group .button .modal .modal-body {
  display: flex;
  justify-content: space-around;
}

.container-data-super form .button-group .button .modal .modal-body .date label {
  font-weight: 700;
  background-color: #0d6efd;
  color: #fff;
  padding: 5px 10px;
}

.container-data-super form .button-group .button .modal .modal-body .date input {
  padding: 5px 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.container-data-super #table-pdf .button-print {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.container-data-super #table-pdf .button-print button.button {
  padding: 10px;
  border-radius: 5px;
  background-color: #0d6efd;
  color: #fff;
  outline: none;
  border: none;
  width: 150px;
  display: flex;
  justify-content: center;
  transition: unset;
  align-items: center;
}

.container-data-super #table-pdf .button-print button.button:hover {
  font-weight: 700;
}

.container-data-super #table-pdf .button-print button.button i {
  font-size: 25px;
  margin-left: 10px;
}

.container-data-super #table-pdf .button-print .modal .modal-body {
  display: flex;
}

.container-data-super #table-pdf .button-print .modal .modal-body .pdf,
.container-data-super #table-pdf .button-print .modal .modal-body .excel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.container-data-super #table-pdf .button-print .modal .modal-body a {
  text-align: center;
  width: 100px;
  padding: 10px 0px;
  border-radius: 5px;
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: #0d6efd;
  transition: unset;
}

.container-data-super #table-pdf .button-print .modal .modal-body a:hover {
  font-weight: 900;
}

.container-data-super #table-pdf .button-print .modal .modal-body i {
  margin-left: 10px;
  font-size: 24px;
}

@media screen and (min-width: 300px) and (max-width: 995px) {
  .container-laporan-super .navbar-data .nav-item {
    width: 100%;
  }

  .container-laporan-super .navbar-data .nav-item a {
    font-size: 12px;
  }

  .container-data-super .searchBar * {
    font-size: 12px;
  }

  .container-data-super #table-pdf table {
    font-size: 12px !important;
  }

  .container-data-super form .button-group {
    width: 100%;
    justify-content: space-around;
  }

  .container-data-super form .button-group .button button.button {
    padding: 10px;
    margin-top: 10px;
    width: 100px;
    font-size: 12px;
  }

  .container-data-super form .button-group .button i {
    font-size: 12px;
  }

  .container-data-super form .button-group .button .modal .modal-body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .container-data-super form .button-group .button .modal .modal-body .date {
    width: 100%;
    display: flex;
    margin: 10px 0;
  }

  .container-data-super form .button-group .button .modal .modal-body .date label {
    font-size: 14px;
    width: 100px;
    text-align: center;
  }

  .container-data-super form .button-group .button .modal .modal-body .date input {
    font-size: 14px;
  }

  .container-data-super #table-pdf .button-print {
    padding-bottom: 10%;
  }

  .container-data-super #table-pdf .button-print button.button {
    padding: 10px;
    font-size: 12px;
    width: 100px;
  }

  .container-data-super #table-pdf .button-print button.button i {
    font-size: 12px;
  }

  .container-data-super #table-pdf .button-print .modal .modal-body a {
    font-size: 12px;
  }

  .container-data-super #table-pdf .button-print .modal .modal-body i {
    margin-left: 5px;
    font-size: 12px;
  }
}
@media screen and (min-width: 996px) and (max-width: 1300px) {
  .container-laporan-super .navbar-data .nav-item a {
    font-size: 14px;
  }

  .container-data-super .searchBar * {
    font-size: 14px;
  }

  .container-data-super #table-pdf table {
    font-size: 14px !important;
  }

  .container-data-super form .button-group {
    width: 100%;
    justify-content: space-around;
  }

  .container-data-super form .button-group .button button.button {
    padding: 10px;
    margin-top: 10px;
    width: 150px;
    font-size: 14px;
  }

  .container-data-super form .button-group .button i {
    font-size: 12px;
  }

  .container-data-super form .button-group .button .modal .modal-body {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .container-data-super #table-pdf .button-print {
    padding-bottom: 10%;
  }

  .container-data-super #table-pdf .button-print button.button {
    padding: 10px;
    font-size: 14px;
    width: 100px;
  }

  .container-data-super #table-pdf .button-print button.button i {
    font-size: 12px;
  }

  .container-data-super #table-pdf .button-print .modal .modal-body a {
    font-size: 12px;
  }

  .container-data-super #table-pdf .button-print .modal .modal-body i {
    margin-left: 5px;
    font-size: 12px;
  }
}


