@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

body {
  position: relative;
  min-height: 100vh;
}

body::after {
  content: "";
  display: block;
  height: 30px;
}

p {
  margin-bottom: 0;
}

[v-cloak] {
  display: none;
}

.swal-modal .swal-text {
  text-align: center !important;
}

ul.dropdown-menu {
  min-width: 0;
  padding: 0;
  right: auto;
  transition: all 0.3s;
  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
}

ul.dropdown-menu.show {
  max-height: 500px;
  opacity: 1;
  visibility: visible;
}

.button-filter {
  display: flex;
  justify-content: flex-end;
}
.button-filter .dropdown {
  width: fit-content;
}
.button-filter .dropdown a {
  padding: 0.5em 1em;
  background-color: #3b86ff;
  font-weight: 700;
  color: #ebebeb;
}
.button-filter .dropdown .dropdown-menu {
  width: fit-content;
}
.button-filter .dropdown .dropdown-menu button {
  width: 100%;
  white-space: nowrap;
  background: transparent;
  border: none;
  outline: none;
  padding: 0.5em;
  text-align: left;
}
.button-filter .dropdown .dropdown-menu button:hover {
  background-color: #e9ecef;
}

.button-filter .modal .modal-body {
  display: flex;
  justify-content: space-around;
}

.button-filter .modal .modal-body .date label {
  font-weight: 700;
  background-color: #0d6efd;
  color: #fff;
  padding: 5px 10px;
}

.button-filter .modal .modal-body .date input {
  padding: 5px 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.button-print {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.button-print button.button {
  padding: 10px;
  border-radius: 5px;
  background-color: #0d6efd;
  color: #fff;
  outline: none;
  border: none;
  width: 150px;
  display: flex;
  justify-content: center;
  transition: unset;
  align-items: center;
}

.button-print button.button:hover {
  font-weight: 700;
}

.button-print button.button i {
  font-size: 25px;
  margin-left: 10px;
}

.button-print .modal .modal-body {
  display: flex;
}

.button-print .modal .modal-body .pdf,
.button-print .modal .modal-body .excel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.button-print .modal .modal-body a {
  text-align: center;
  width: 100px;
  padding: 10px 0px;
  border-radius: 5px;
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: #0d6efd;
  transition: unset;
}

.button-print .modal .modal-body a:hover {
  font-weight: 900;
}

.button-print .modal .modal-body i {
  margin-left: 10px;
  font-size: 24px;
}

@media screen and (min-width: 300px) and (max-width: 995px) {
  .button-filter button.button {
    padding: 10px;
    margin-top: 15px;
    width: 120px;
    font-size: 12px;
  }

  .button-filter i {
    font-size: 12px;
  }

  .button-filter .modal .modal-body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .button-filter .modal .modal-body .date {
    width: 100%;
    display: flex;
    margin: 10px 0;
  }

  .button-filter .modal .modal-body .date label {
    font-size: 14px;
    width: 100px;
    text-align: center;
  }

  .button-filter .modal .modal-body .date input {
    font-size: 14px;
  }

  .button-print button.button {
    padding: 10px;
    font-size: 12px;
    width: 100px;
  }

  .button-print button.button i {
    font-size: 12px;
  }

  .button-print .modal .modal-body a {
    font-size: 12px;
  }

  .button-print .modal .modal-body i {
    margin-left: 5px;
    font-size: 12px;
  }
}
.pdf-header {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}
.pdf-header p {
  font-size: 20px;
  font-weight: bold;
  padding-left: 2em;
  padding-right: 8em;
  text-align: center;
  text-transform: uppercase;
}

/*  Navbar */
nav.navbar-user .navbar-brand {
  margin: 0 20px;
}
nav.navbar-user .navbar-collapse {
  justify-content: space-between;
}
nav.navbar-user .navbar-collapse .navbar-nav {
  text-align: center;
  transition: 0.3s;
}
nav.navbar-user .navbar-collapse .navbar-nav .nav-item {
  width: 100%;
  margin: 0 20px;
}
nav.navbar-user .navbar-collapse .navbar-nav .nav-item .nav-link {
  font-weight: 500;
  border-radius: 5px;
  width: 150px;
}
nav.navbar-user .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  color: white !important;
  background-color: #3b86ff;
}
nav.navbar-user .navbar-collapse .navbar-nav .nav-item .nav-link.active {
  color: white !important;
  background-color: #3b86ff;
}
nav.navbar-user .navbar-collapse .navbar-nav .nav-item .nav-link#navbarDropdownMenuLink {
  width: 100%;
}

@media screen and (min-width: 300px) and (max-width: 991px) {
  nav.navbar .navbar-brand {
    margin: 0;
  }
  nav.navbar .navbar-nav .nav-item {
    margin: 0;
  }
  nav.navbar .navbar-nav .nav-item .nav-link {
    font-weight: 500;
    border-radius: 5px;
    width: 100%;
    margin: 0;
  }
  nav.navbar .navbar-nav .nav-item ul.dropdown-menu {
    text-align: center;
    margin-left: 0;
    right: unset;
    left: unset;
    transform: unset;
  }
}
@media screen and (min-width: 992px) and (max-width: 1050px) {
  nav.navbar .navbar-brand {
    margin: 0 10px;
  }
  nav.navbar .navbar-nav .nav-item {
    width: 100%;
    margin: 0 10px;
  }
}
/*  Navbar */
nav.navbar-admin .container-fluid {
  padding: 0;
}
nav.navbar-admin .container-fluid .navbar-brand {
  margin: max(0.5em, 0.7vw) max(0.5em, 1vw);
}
nav.navbar-admin .container-fluid .navbar-brand img {
  width: max(50px, 4vw);
  height: auto;
}
nav.navbar-admin .container-fluid .offcanvas .offcanvas-header .offcanvas-title {
  font-weight: 700;
  background-image: linear-gradient(to right, #00b4db, #3b86ff);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}
nav.navbar-admin .container-fluid .offcanvas .offcanvas-body {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
nav.navbar-admin .container-fluid .offcanvas .offcanvas-body .navbar-nav {
  text-align: center;
}
nav.navbar-admin .container-fluid .offcanvas .offcanvas-body .navbar-nav li {
  margin: max(0.5em, 1.2vw);
}
nav.navbar-admin .container-fluid .offcanvas .offcanvas-body .navbar-nav li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.55);
  font-size: max(1em, 1.2vw);
  font-weight: 500;
  transition: 0.3s;
}
nav.navbar-admin .container-fluid .offcanvas .offcanvas-body .navbar-nav li a span {
  border-radius: 5px;
}
nav.navbar-admin .container-fluid .offcanvas .offcanvas-body .navbar-nav li a:hover {
  color: #3b86ff;
}
nav.navbar-admin .container-fluid .offcanvas .offcanvas-body .navbar-nav li a.active span {
  color: white !important;
  background-color: #3b86ff;
  padding: 0.5em 1em;
}
nav.navbar-admin .container-fluid .offcanvas .offcanvas-body .profile a,
nav.navbar-admin .container-fluid .offcanvas .offcanvas-body .profile ul {
  font-size: max(1em, 1.2vw);
}

@media screen and (max-width: 991px) {
  nav.navbar-admin .container-fluid {
    padding: 0 1em;
  }
  nav.navbar-admin .container-fluid .offcanvas .offcanvas-body {
    display: block;
    text-align: left;
  }
  nav.navbar-admin .container-fluid .offcanvas .offcanvas-body .navbar-nav {
    text-align: left;
  }
  nav.navbar-admin .container-fluid .offcanvas .offcanvas-body .navbar-nav li a {
    display: block;
    width: 100%;
  }
  nav.navbar-admin .container-fluid .offcanvas .offcanvas-body .profile {
    text-align: left;
  }
  nav.navbar-admin .container-fluid .offcanvas .offcanvas-body .profile a {
    padding: 0 !important;
    text-align: left;
    margin: max(0.5em, 1.2vw);
    font-size: max(1em, 1.2vw);
  }
  nav.navbar-admin .container-fluid .offcanvas .offcanvas-body .profile ul {
    font-size: max(1em, 1.2vw);
  }
}
/* Footer */
.copyright {
  transition: 0.5s;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #ebebeb;
  color: #8e8e8f;
  text-align: center;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyright * {
  transition: 0.5s;
}
.copyright p {
  font-size: 14px;
}
.copyright span {
  font-weight: 700;
}
.copyright span a {
  text-decoration: none;
  color: #8e8e8f;
  transition: unset;
}
.copyright span a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 300px) and (max-width: 470px) {
  .copyright p {
    font-size: 10px !important;
  }
}
/* 404 ERROR Page */
.container-error {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.container-error * {
  transition: 0.5s;
}

.container-error .banner {
  width: 90%;
  height: 50%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 10%;
}

.container-error .banner img {
  width: 50%;
  height: 100%;
}

.container-error .banner .text-group {
  width: 100%;
  text-align: center;
  padding-top: 20px;
}

.container-error .banner .text-group h1 {
  color: #40514E;
  font-weight: 900;
}

.container-error .banner .text-group p {
  color: #40514E;
  font-weight: 500;
}

.container-error .banner .button {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.container-error .banner .button a {
  text-decoration: none;
  color: #fff;
  background-color: #3b86ff;
  padding: 10px 15px;
  transition: 0.2s;
  border-radius: 5px;
  font-weight: 600;
}

.container-error .banner .button a:hover {
  font-weight: 800;
}

/* Responsive */
@media screen and (min-width: 300px) and (max-width: 900px) {
  .container-error .banner {
    width: 80%;
  }

  .container-error .banner img {
    width: 80%;
    height: 100%;
  }

  .container-error .banner .text-group {
    width: 80%;
    text-align: center;
  }

  .container-error .banner .text-group h1 {
    font-size: 18px;
  }

  .container-error .banner .text-group p {
    font-size: 12px;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.loader {
  display: none;
}

.load {
  display: block;
  position: fixed;
  top: 0;
  z-index: 100;
  text-align: center;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.load h1 {
  font-weight: 700;
  background-image: linear-gradient(to right, #00b4db, #3b86ff);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.loading {
  display: none;
}

/*======================= Login Page =======================*/
.container-login {
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  /*LOGIN Form login*/
  /*LOGIN Button Form*/
}
.container-login .container-login * {
  transition: 0.3s;
}
.container-login .box {
  width: 60%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  display: flex;
}
.container-login .login-box {
  width: 50%;
  height: 100%;
}
.container-login .login-box .image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
}
.container-login .login-box .image img {
  margin-top: 20px;
  width: 40%;
  height: 80%;
}
.container-login .login-box .form {
  height: 60%;
  text-align: center;
  padding-top: 50px;
}
.container-login .login-box .form input {
  margin: 10px;
  padding: 10px;
  width: 80%;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}
.container-login .login-box .form input:focus {
  box-shadow: 0 0 3px 2px #478dff;
}
.container-login .login-box .button {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.container-login .login-box .button .submit {
  width: 80%;
  padding: 8px;
  margin: 5px 10px 0;
  border-radius: 5px;
  cursor: pointer;
  background-color: #3b86ff;
  color: white;
  font-size: 15px;
  border: none;
  font-weight: 500;
  transition: unset;
}
.container-login .login-box .button .submit:hover {
  color: lightblue;
  font-weight: 700;
}
.container-login .image-banner {
  width: 50%;
  height: 100%;
  background-color: #3b86ff;
  background-image: linear-gradient(155deg, #3b86ff 53%, #0071fd 99%);
  border-bottom-right-radius: inherit;
  border-top-right-radius: inherit;
}
.container-login .image-banner .image {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
}
.container-login .image-banner .image img {
  width: 100%;
  padding: 10px;
}
.container-login .image-banner .bottom-text {
  height: 50%;
  padding-top: 30px;
}
.container-login .image-banner .bottom-text .head {
  text-align: center;
  font-weight: 900;
  color: white;
  font-size: 30px;
}
.container-login .image-banner .bottom-text .body {
  text-align: center;
}
.container-login .image-banner .bottom-text .body p {
  background-color: white;
  color: #3b86ff;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  font-weight: 900;
  font-size: 30px;
  border-radius: 5px;
  word-spacing: 10px;
}

@media screen and (min-width: 300px) and (max-width: 575px) {
  .container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding-bottom: 20%;
    /*LOGIN Form login*/
  }
  .container-login .box {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    align-items: center;
    background-color: #fff;
  }
  .container-login .login-box {
    width: 100%;
    height: 100%;
  }
  .container-login .login-box .image {
    height: 20%;
    padding-top: 20px;
  }
  .container-login .login-box .form {
    height: 60%;
    text-align: center;
    padding: 30px 20px 20px;
  }
  .container-login .login-box .form input {
    margin: 5px 0;
    padding: 10px;
    width: 100%;
    font-size: 3.2vw;
  }
  .container-login .login-box .button .submit {
    width: 100%;
    padding: 10px;
    margin: 5px 0 0;
    font-size: 3.2vw;
    font-weight: 700;
  }
  .container-login .box .image-banner {
    display: none;
  }
}
@media screen and (min-width: 576px) and (max-width: 1300px) {
  .container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
  .container-login .box {
    width: 80%;
    height: auto;
  }
  .container-login .image-banner {
    height: unset;
  }
  .container-login .image-banner .bottom-text .head {
    font-size: 1.5rem;
  }
  .container-login .image-banner .bottom-text .body p {
    padding: 5px;
    font-size: 1.5;
  }
  .container-login .image-banner .bottom-text {
    height: 50%;
    padding-top: 30px;
  }
  .container-login .image-banner .bottom-text .head {
    font-size: 24px;
  }
  .container-login .image-banner .bottom-text .body p {
    font-size: 24px;
  }
}
/*======================= Absen Page =======================*/
.absen {
  width: 100%;
  padding-top: 100px;
  transition: 0.5s;
}
.absen * {
  transition: 0.5s;
}
.absen .head h1 span,
.absen .time span.greetings {
  color: #3B86FF;
  font-weight: 700;
}
.absen .head {
  text-align: center;
}
.absen .head h1 {
  font-size: 1.2em;
  font-weight: 600;
}
.absen .head i {
  font-size: 24px;
}
.absen .time {
  font-weight: 600;
  padding: 0 30px;
}
.absen .button-absen {
  width: 60%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.absen .button-absen .masuk,
.absen .button-absen .keluar,
.absen .button-absen .izin {
  width: 30%;
  text-align: center;
}
.absen .button-absen .masuk button#masuk,
.absen .button-absen .masuk button#keluar,
.absen .button-absen .masuk button#izin,
.absen .button-absen .keluar button#masuk,
.absen .button-absen .keluar button#keluar,
.absen .button-absen .keluar button#izin,
.absen .button-absen .izin button#masuk,
.absen .button-absen .izin button#keluar,
.absen .button-absen .izin button#izin {
  padding: 10px 5px;
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  width: 100%;
  font-weight: 500;
  outline: none;
  border: none;
}
.absen .button-absen .masuk button[disabled] {
  cursor: not-allowed;
  pointer-events: none;
  border: none !important;
  background-color: rgba(19, 203, 110, 0.3) !important;
}
.absen .button-absen .masuk button#masuk {
  color: #fff;
  background-color: rgba(19, 203, 110, 0.8);
  transition: 0.1s;
}
.absen .button-absen .masuk button#masuk:hover {
  background-color: #13cb6e;
  font-weight: 700;
}
.absen .button-absen .masuk button#masuk:active {
  font-weight: 700;
  border: 1px solid #13cb6e;
  background-color: transparent;
  color: #13cb6e;
  outline: 5px solid rgba(19, 203, 110, 0.4);
}
.absen .button-absen .masuk .modal .modal-header {
  display: flex;
  justify-content: center;
  text-transform: capitalize;
}
.absen .button-absen .masuk .modal .modal-header h5 span {
  color: #3B86FF;
  font-weight: 700;
}
.absen .button-absen .masuk .modal .modal-body {
  height: 70vh;
}
.absen .button-absen .masuk .modal .modal-body .canvas {
  width: 100%;
  height: 90%;
}
.absen .button-absen .masuk .modal .modal-body .canvas video {
  height: 100%;
  width: 100%;
  transform: scaleX(-1);
  filter: FlipH;
  aspect-ratio: 1/1;
}
.absen .button-absen .masuk .modal .modal-body .button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
}
.absen .button-absen .masuk .modal .modal-body .button button {
  background-color: #297ffd;
  color: white;
  border: none;
  outline: none;
  width: 20%;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: unset;
}
.absen .button-absen .masuk .modal .modal-body .button button:hover {
  font-weight: 700;
}
.absen .button-absen .masuk .modal .modal-body .button i {
  font-size: 26px;
  margin-left: 10px;
}
.absen .button-absen .keluar button[disabled] {
  cursor: not-allowed;
  pointer-events: none;
  border: none !important;
  background-color: rgba(198, 73, 59, 0.3) !important;
}
.absen .button-absen .keluar button#keluar {
  color: #fff;
  border: 1px solid #c64b3b;
  transition: 0.1s;
  background-color: rgba(198, 73, 59, 0.8);
}
.absen .button-absen .keluar button#keluar:hover {
  font-weight: 700;
  background-color: #c6493b;
}
.absen .button-absen .keluar button#keluar:active {
  font-weight: 700;
  border: 1px solid #c64b3b;
  background-color: transparent !important;
  color: #c64b3b;
  outline: 5px solid rgba(198, 75, 59, 0.4);
}
.absen .button-absen .keluar .modal .modal-header {
  display: flex;
  justify-content: center;
  text-transform: capitalize;
}
.absen .button-absen .keluar .modal .modal-header h5 span {
  color: #3B86FF;
  font-weight: 700;
}
.absen .button-absen .keluar .modal .modal-body {
  height: 70vh;
}
.absen .button-absen .keluar .modal .modal-body .canvas {
  width: 100%;
  height: 90%;
}
.absen .button-absen .keluar .modal .modal-body .canvas video {
  height: 100%;
  width: 100%;
  transform: scaleX(-1);
  filter: FlipH;
  aspect-ratio: 1/1;
}
.absen .button-absen .keluar .modal .modal-body .button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
}
.absen .button-absen .keluar .modal .modal-body .button button {
  background-color: #297ffd;
  color: white;
  border: none;
  outline: none;
  width: 20%;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: unset;
}
.absen .button-absen .keluar .modal .modal-body .button button:hover {
  font-weight: 700;
}
.absen .button-absen .keluar .modal .modal-body .button i {
  font-size: 26px;
  margin-left: 10px;
}
.absen .button-absen .izin button[disabled] {
  cursor: not-allowed;
  pointer-events: auto !important;
}
.absen .button-absen .izin button#izin {
  color: #fff;
  border: 1px solid #0d6efd;
  transition: 0.1s;
  background-color: rgba(13, 110, 253, 0.8);
}
.absen .button-absen .izin button#izin:hover {
  font-weight: 700;
  background-color: #0d6efd;
}
.absen .button-absen .izin button#izin:active {
  font-weight: 700;
  border: 1px solid #0d6efd;
  background-color: transparent !important;
  color: #0d6efd;
  outline: rgba(13, 110, 253, 0.4);
}
.absen .button-absen .izin .modal .modal-body {
  margin: 20px 0 10px;
}
.absen .button-absen .izin .modal .modal-body .file-button {
  margin: 40px 0 10px;
  text-align: left !important;
}
.absen section.content-slider {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.absen section.content-slider h1.heading {
  font-size: 1.2em;
  font-weight: 700;
}
.absen section.content-slider .carousel {
  padding-top: 30px;
}
.absen section.content-slider .carousel .carousel-inner .slider .card {
  width: 28vw;
}
.absen section.content-slider .carousel .card .card-body a {
  padding: 10px 0;
  width: 80%;
  display: inline-block;
  text-decoration: underline;
  font-weight: 600;
  transition: unset;
}
.absen section.content-slider .carousel .card .card-body a:hover {
  text-decoration: none;
  font-weight: 900;
}
.absen section.content-slider .carousel .carousel-control-prev,
.absen section.content-slider .carousel .carousel-control-next {
  width: 10vw;
}
.absen section.content-slider .carousel .carousel-control-prev span.bi,
.absen section.content-slider .carousel .carousel-control-next span.bi {
  color: #8e8e8f;
  font-size: min(60px, 10vw);
  font-weight: 900;
}
.absen section.content-slider .carousel.dekstop .carousel-inner {
  display: flex;
  justify-content: space-around;
}
.absen section.content-slider .carousel.dekstop .carousel-inner:after {
  content: unset;
}
.absen section.content-slider .carousel.dekstop .carousel-inner .slider .card {
  height: 100%;
}
.absen section.content-slider .carousel.dekstop .carousel-inner .slider .card .card-image {
  width: 100%;
  height: 70%;
}
.absen section.content-slider .carousel.dekstop .carousel-inner .slider .card .card-image img {
  width: 100%;
  height: 100%;
}
.absen section.content-slider .carousel.dekstop .carousel-inner .slider .card .card-body {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.absen section.content-slider .carousel.dekstop button {
  display: none;
}
.absen section.content-slider .carousel.mobile .carousel-inner .slider .card {
  height: 100%;
  margin: 0 auto;
  width: 18rem;
}
.absen section.content-slider .carousel.mobile .carousel-inner .card .card-image {
  width: 100%;
  height: 200px;
}
.absen section.content-slider .carousel.mobile .carousel-inner .card .card-image img {
  width: 100%;
  height: 100%;
}
.absen section.content-slider .carousel.mobile .carousel-inner .card .card-body {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.absen section.content-slider .carousel.mobile button {
  display: unset;
}

/* Responsive Table Absen | Absen Page */
@media screen and (min-width: 300px) and (max-width: 570px) {
  .absen .head h1 {
    padding: 0 20px 5px;
  }
  .absen .button-absen {
    width: 100%;
    flex-wrap: wrap;
  }
  .absen .button-absen .masuk,
.absen .button-absen .keluar,
.absen .button-absen .izin {
    width: 100%;
    margin: 10px 0;
  }
  .absen .button-absen .masuk button#masuk,
.absen .button-absen .masuk button#keluar,
.absen .button-absen .masuk button#izin,
.absen .button-absen .keluar button#masuk,
.absen .button-absen .keluar button#keluar,
.absen .button-absen .keluar button#izin,
.absen .button-absen .izin button#masuk,
.absen .button-absen .izin button#keluar,
.absen .button-absen .izin button#izin {
    width: 60%;
  }
  .absen .button-absen .masuk .modal .modal-header h5,
.absen .button-absen .keluar .modal .modal-header h5 {
    font-size: 18px;
  }
  .absen .button-absen .masuk .modal .modal-body,
.absen .button-absen .keluar .modal .modal-body {
    height: 50vh;
  }
  .absen .button-absen .masuk .modal .modal-body .button button,
.absen .button-absen .keluar .modal .modal-body .button button {
    width: 100%;
    font-size: 14px;
  }
  .absen .button-absen .masuk .modal .modal-body .button button i,
.absen .button-absen .keluar .modal .modal-body .button button i {
    font-size: 20px;
    margin-left: 10px;
  }
  .absen .button-absen .masuk .modal .modal-body .canvas canvas,
.absen .button-absen .keluar .modal .modal-body .canvas canvas {
    background-color: rgba(0, 0, 0, 0.1);
    width: 73%;
    height: 80%;
  }
  .absen .content-slider {
    padding-top: 20px;
  }
  .absen .content-slider .carousel {
    padding-top: 20px;
  }
  .absen .content-slider .carousel button {
    display: unset;
  }
  .absen .content-slider .heading {
    padding: 0 20px;
  }
}
/* Responsive Absen Page */
@media screen and (min-width: 571px) and (max-width: 991px) {
  .absen .button-absen {
    width: 90%;
  }
  .absen .button-absen .masuk button#masuk,
.absen .button-absen .keluar button#keluar {
    width: 90%;
  }
  .absen .button-absen .masuk button#masuk .modal .modal-header h5,
.absen .button-absen .keluar button#keluar .modal .modal-header h5 {
    font-size: 18px;
  }
  .absen .button-absen .masuk button#masuk .modal .modal-body,
.absen .button-absen .keluar button#keluar .modal .modal-body {
    height: 60vh;
  }
  .absen .button-absen .masuk button#masuk .modal .modal-body .button button,
.absen .button-absen .keluar button#keluar .modal .modal-body .button button {
    width: 100%;
    font-size: 16px;
  }
  .absen .button-absen .masuk button#masuk .modal .modal-body .button i,
.absen .button-absen .keluar button#keluar .modal .modal-body .button i {
    font-size: 20px;
  }
  .absen .button-absen .masuk button#masuk .modal .modal-body .canvas canvas,
.absen .button-absen .keluar button#keluar .modal .modal-body .canvas canvas {
    background-color: rgba(0, 0, 0, 0.1);
    width: 95%;
    height: 90%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .absen .button-absen {
    width: 80%;
  }
  .absen .button-absen .masuk button#masuk,
.absen .button-absen .keluar button#keluar {
    width: 90%;
  }
  .absen .button-absen .modal .modal-body .canvas canvas {
    background-color: rgba(0, 0, 0, 0.1);
    width: 95%;
    height: 95%;
  }
}
/*======================= Laporan Belajar Page =======================*/
.container-laporan-guru {
  width: 80%;
  margin: 100px auto 0;
  transition: 0.3s;
  padding-bottom: 50px;
  position: relative;
}
.container-laporan-guru h1.head {
  text-align: center;
  padding: 20px 0;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.container-laporan-guru .select-button {
  margin: 20px 0;
}
.container-laporan-guru .select-button .form-select {
  font-size: 1rem;
  padding-left: 12px;
}
.container-laporan-guru .bottom-input-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.container-laporan-guru .form-group {
  margin-top: 20px;
  width: 100%;
  display: flex;
}
.container-laporan-guru .form-group .checkgroup {
  width: 40%;
}
.container-laporan-guru .form-group .checkgroup h1 {
  font-size: 1.3rem;
  font-weight: bold;
}
.container-laporan-guru .form-group .checkgroup .form-check {
  margin: 10px 0;
}
.container-laporan-guru .form-group .text-input {
  width: 100%;
}
.container-laporan-guru .form-group .text-input .form-floating {
  height: 100%;
}
.container-laporan-guru .form-group .text-input .form-floating textarea {
  height: 100%;
}
.container-laporan-guru .file-button {
  margin-top: 50px;
}
.container-laporan-guru .file-button label {
  font-size: 1.3rem;
  font-weight: bold;
}
.container-laporan-guru .button {
  text-align: right;
}
.container-laporan-guru .button .submit {
  width: 150px;
  background-color: #0d6efd;
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
  border: none;
  transition: unset;
  outline: none;
}
.container-laporan-guru .button .submit:hover {
  font-weight: 700;
}

/* Reponsive Laporan Guru */
@media screen and (min-width: 300px) and (max-width: 570px) {
  .container-laporan-guru .top-input-group {
    display: flex;
    flex-wrap: wrap;
  }
  .container-laporan-guru .top-input-group .form-floating {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 !important;
  }
  .container-laporan-guru .top-input-group .form-floating input {
    width: 100%;
    height: 50%;
    font-size: 12px !important;
  }
  .container-laporan-guru .top-input-group .form-floating label {
    display: flex;
    align-items: center;
    font-size: 12px !important;
  }
  .container-laporan-guru .select-button {
    margin: 10px 0;
  }
  .container-laporan-guru .select-button .form-select {
    height: 70%;
    font-size: 12px;
    padding-left: 12px;
  }
  .container-laporan-guru .bottom-input-group {
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 !important;
  }
  .container-laporan-guru .bottom-input-group .form-floating {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 !important;
  }
  .container-laporan-guru .bottom-input-group .form-floating input {
    height: 50%;
    font-size: 12px !important;
  }
  .container-laporan-guru .bottom-input-group .form-floating label {
    display: flex;
    align-items: center;
    font-size: 12px !important;
  }
  .container-laporan-guru .form-group {
    margin-top: 10px;
    flex-wrap: wrap;
    height: 100%;
  }
  .container-laporan-guru .form-group .checkgroup {
    width: 100%;
  }
  .container-laporan-guru .form-group .checkgroup h1 {
    font-size: 14px;
  }
  .container-laporan-guru .form-group .checkgroup .form-check {
    margin: 20px 0;
    font-size: 12px;
  }
  .container-laporan-guru .form-group .text-input {
    width: 100%;
  }
  .container-laporan-guru .form-group .text-input .form-floating {
    height: 100%;
  }
  .container-laporan-guru .form-group .text-input .form-floating textarea {
    height: 300px;
  }
  .container-laporan-guru .form-group .text-input .form-floating label {
    font-size: 12px;
  }
  .container-laporan-guru .file-button {
    margin-top: 30px;
  }
  .container-laporan-guru .file-button * {
    font-size: 12px;
  }
  .container-laporan-guru .file-button label {
    font-size: 14px;
    font-weight: bold;
  }
  .container-laporan-guru .button button.submit {
    width: 100%;
    font-size: 14px;
    background-color: #0d6efd;
    padding: 10px 10px;
    color: white;
    border-radius: 5px;
    border: none;
    transition: unset;
    outline: none;
  }
}
@media screen and (min-width: 571px) and (max-width: 900px) {
  .container-laporan-guru .top-input-group {
    display: flex;
    flex-wrap: wrap;
  }
  .container-laporan-guru .top-input-group .form-floating {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 !important;
  }
  .container-laporan-guru .top-input-group .form-floating input {
    width: 100%;
    height: 80%;
    font-size: 16px !important;
  }
  .container-laporan-guru .top-input-group .form-floating label {
    display: flex;
    align-items: center;
    font-size: 16px !important;
  }
  .container-laporan-guru .bottom-input-group {
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 !important;
  }
  .container-laporan-guru .bottom-input-group .form-floating {
    display: flex;
    align-items: center;
    margin: 0 !important;
    width: 100%;
  }
  .container-laporan-guru .bottom-input-group .form-floating input {
    height: 80%;
    font-size: 16px !important;
  }
  .container-laporan-guru .bottom-input-group .form-floating label {
    display: flex;
    align-items: center;
    font-size: 16px !important;
  }
  .container-laporan-guru .select-button {
    margin: 10px 0;
  }
  .container-laporan-guru .select-button .form-select {
    height: 80%;
    font-size: 16px;
    padding-left: 12px;
  }
  .container-laporan-guru .form-group {
    margin-top: 10px;
    flex-wrap: wrap;
  }
  .container-laporan-guru .form-group .checkgroup {
    width: 100%;
  }
  .container-laporan-guru .form-group .checkgroup h1 {
    font-size: 1.2rem;
  }
  .container-laporan-guru .form-group .checkgroup .form-check {
    margin: 20px 0;
    font-size: 16px;
  }
  .container-laporan-guru .form-group .text-input {
    width: 100%;
  }
  .container-laporan-guru .form-group .text-input .form-floating {
    height: 100%;
  }
  .container-laporan-guru .form-group .text-input .form-floating textarea {
    height: 300px;
  }
  .container-laporan-guru .form-group .text-input .form-floating label {
    font-size: 16px;
  }
  .container-laporan-guru .file-button {
    margin-top: 30px;
  }
  .container-laporan-guru .file-button .file-button label {
    font-size: 1.2rem;
    font-weight: bold;
  }
}
/*======================= Laporan Bimbingan Page =======================*/
.container-laporan {
  min-height: 100vh;
  transition: 0.5s;
  padding-top: 100px;
  padding-bottom: 10%;
}

.container-laporan .input-box {
  width: 100%;
  height: 80%;
  text-align: center;
}

.container-laporan h1.head {
  font-size: 1.5rem;
  text-align: center;
  padding: 20px 0;
  text-transform: uppercase;
}

.container-laporan .input-box textarea {
  width: 80%;
  height: 50vh;
  resize: none;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  box-shadow: none;
  border-style: solid;
}

.container-laporan .file-button {
  width: 80%;
  margin: 20px auto;
  text-align: left;
}

.container-laporan .file-button label {
  font-weight: bold;
}

.container-laporan .button {
  width: 80%;
  margin: 0 auto;
  text-align: right;
}

.container-laporan .button button {
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #3b86ff;
  color: white;
  font-weight: 600;
  transition: unset;
  width: 150px;
}

.container-laporan .button button:hover {
  font-weight: 800;
}

@media screen and (min-width: 300px) and (max-width: 570px) {
  .container-laporan .input-box textarea {
    height: 70vh;
  }

  .container-laporan .button {
    width: 80%;
    text-align: center;
  }

  .container-laporan .button button {
    padding: 10px;
    width: 100%;
  }

  .container-laporan .file-button * {
    font-size: 14px;
  }
}
/*======================= Laporan Tugas Page =======================*/
.container-laporan-tugas {
  min-height: 100vh;
  transition: 0.5s;
  padding-top: 100px;
  padding-bottom: 10%;
}

.container-laporan-tugas * {
  transition: 0.5s;
}

.container-laporan-tugas h1.head {
  text-align: center;
  padding: 20px 0;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.container-laporan-tugas .input-box {
  width: 80%;
  margin: 0 auto;
  height: 80%;
}

.container-laporan-tugas .input-box textarea {
  width: 100%;
  height: 50vh;
  resize: none;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  box-shadow: none;
  border-style: solid;
  margin-top: 20px;
}

.container-laporan-tugas .input-box .file {
  width: 100%;
  margin-top: 20px;
  padding-bottom: 50px;
}

.container-laporan-tugas .input-box .file label {
  font-weight: bold;
}

.container-laporan-tugas .input-box .file .file-button {
  width: 100%;
}

.container-laporan-tugas .input-box .file .button {
  width: 100%;
  margin: 0 auto;
  text-align: right;
}

.container-laporan-tugas .input-box .file .button button {
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #3b86ff;
  color: white;
  font-weight: 600;
  transition: unset;
  width: 150px;
}

.container-laporan-tugas .input-box .file .button button:hover {
  font-weight: 800;
}

@media screen and (min-width: 300px) and (max-width: 570px) {
  .container-laporan-tugas .input-box * {
    font-size: 12px;
  }

  .container-laporan-tugas .input-box textarea {
    height: 70vh;
  }

  .container-laporan-tugas .input-box .file .button {
    width: 100%;
    text-align: center;
  }

  .container-laporan-tugas .input-box .file .button button {
    padding: 10px;
    width: 100%;
  }

  .container-laporan-tugas .input-box .file .file-button * {
    font-size: 12px;
  }
}
/*======================= Laporan Pengembangan Page =======================*/
.container-laporan-pengembangan {
  min-height: 100vh;
  transition: 0.5s;
  padding-bottom: 10%;
  padding-top: 100px;
}

.container-laporan-pengembangan * {
  transition: 0.5s;
}

.container-laporan-pengembangan form {
  height: 50%;
}

.container-laporan-pengembangan h1.head {
  text-align: center;
  padding: 20px 0;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.container-laporan-pengembangan .input-box {
  width: 80%;
  margin: 0 auto;
  height: 80%;
}

.container-laporan-pengembangan .input-box .input {
  margin-top: 40px;
}

.container-laporan-pengembangan .input-box .input h1 {
  font-size: 16px;
  font-weight: bold;
}

.container-laporan-pengembangan .input-box .input .input-group {
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.container-laporan-pengembangan .input-box .input .input-group .form-check {
  width: 20%;
}

.container-laporan-pengembangan .input-box .input .input-group .input-group-text.input-radio {
  width: unset;
  background-color: transparent;
  border: none;
}

.container-laporan-pengembangan .input-box .input .select-group {
  margin-top: 30px;
}

.container-laporan-pengembangan .input-box .bottom-input {
  display: flex;
  padding: 30px 0;
}

.container-laporan-pengembangan .input-box .bottom-input input {
  height: 100% !important;
}

.container-laporan-pengembangan .input-box .bottom-input .input-group,
.container-laporan-pengembangan .input-box .bottom-input .input-date {
  width: 50%;
}

.container-laporan-pengembangan .input-box .bottom-input .input-date {
  margin-left: 20px;
  display: flex;
}

.container-laporan-pengembangan .input-box .bottom-input .input-date span {
  border-radius: 0;
  background-color: #3b86ff;
  color: #fff;
  font-weight: 700;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  outline: none;
}

.container-laporan-pengembangan .input-box .bottom-input .input-date input {
  border: 1px solid #ced4da;
  color: #6c757d;
  padding: 0 20px;
  border-radius: 0;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.container-laporan-pengembangan .input-box .input-text {
  margin-top: 20px;
  height: 50vh;
}

.container-laporan-pengembangan .input-box .input-text textarea {
  width: 100%;
  height: 100%;
  resize: none;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  box-shadow: none;
  border-style: solid;
}

.container-laporan-pengembangan .input-box .bottom-input .form-floating {
  height: 50%;
}

.container-laporan-pengembangan .input-box .file {
  width: 100%;
  margin-top: 30px;
  padding-bottom: 50px;
}

.container-laporan-pengembangan .input-box .file label {
  font-weight: bold;
}

.container-laporan-pengembangan .input-box .file .file-button {
  width: 100%;
}

.container-laporan-pengembangan .input-box .file .button {
  width: 100%;
  margin: 0 auto;
  text-align: right;
}

.container-laporan-pengembangan .input-box .file .button button {
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #3b86ff;
  color: white;
  font-weight: 600;
  transition: unset;
  width: 150px;
}

.container-laporan-pengembangan .input-box .file .button button:hover {
  font-weight: 800;
}

@media screen and (min-width: 300px) and (max-width: 570px) {
  .container-laporan-pengembangan .input-box .input .input-group .form-check {
    width: 100%;
  }

  .container-laporan-pengembangan .input-box .input .input-group .input-group-text {
    padding: 0 !important;
  }

  .container-laporan-pengembangan .input-box .input .input-group .input-group-text,
.container-laporan-pengembangan .input-box .input .input-group .form-control {
    margin-top: 10px !important;
  }

  .container-laporan-pengembangan .input-box .input .input-group .input-group-text .form-check-input {
    margin-right: 10px;
  }

  .container-laporan-pengembangan .input-box * {
    font-size: 12px;
  }

  .container-laporan-pengembangan .input-box .bottom-input {
    flex-wrap: wrap;
    padding: 20px 0;
  }

  .container-laporan-pengembangan .input-box .bottom-input .input-group,
.container-laporan-pengembangan .input-box .bottom-input .input-date {
    width: 100%;
    margin: 10px 0;
  }

  .container-laporan-pengembangan .input-box .bottom-input .input-date {
    margin-left: 0;
  }

  .container-laporan-pengembangan .input-box textarea {
    height: 150%;
  }

  .container-laporan-pengembangan .input-box .file .button {
    width: 100%;
    text-align: center;
  }

  .container-laporan-pengembangan .input-box .file .button button {
    padding: 10px;
    width: 100%;
  }

  .container-laporan-pengembangan .input-box .file .file-button * {
    font-size: 12px;
  }
}
@media screen and (min-width: 571px) and (max-width: 900px) {
  .container-laporan-pengembangan .input-box .input .input-group .form-check {
    width: 100%;
    margin: 10px 0;
  }

  .container-laporan-pengembangan .input-box .input .input-group .input-group-text {
    padding: 0 !important;
    margin-top: 10px !important;
  }

  .container-laporan-pengembangan .input-box .input .input-group .input-group-text,
.container-laporan-pengembangan .input-box .input .input-group .form-control {
    margin-top: 10px !important;
  }

  .container-laporan-pengembangan .input-box .input .input-group .input-group-text .form-check-input {
    margin-right: 10px;
  }

  .container-laporan-pengembangan .input-box * {
    font-size: 16px;
  }

  .container-laporan-pengembangan .input-box .bottom-input {
    flex-wrap: wrap;
    padding: 20px 0;
  }

  .container-laporan-pengembangan .input-box .bottom-input .input-group,
.container-laporan-pengembangan .input-box .bottom-input .input-date {
    width: 100%;
    margin: 10px 0;
  }

  .container-laporan-pengembangan .input-box textarea {
    height: 150%;
  }

  .container-laporan-pengembangan .input-box .file .button {
    width: 100%;
    text-align: center;
  }

  .container-laporan-pengembangan .input-box .file .button button {
    padding: 10px;
    width: 100%;
  }

  .container-laporan-pengembangan .input-box .file .file-button * {
    font-size: 12px;
  }
}
/*======================= Laporan Karya Page =======================*/
.container-laporan-karya {
  min-height: 100vh;
  transition: 0.5s;
  padding-top: 100px;
  padding-bottom: 10%;
}

.container-laporan-karya * {
  transition: 0.5s;
}

.container-laporan-karya h1.head {
  text-align: center;
  padding: 20px 0;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.container-laporan-karya .input-box {
  width: 80%;
  height: 80%;
  margin: 0 auto;
}

.container-laporan-karya .input-box .input-radio h1 {
  font-size: 16px;
  font-weight: bold;
}

.container-laporan-karya .input-box .input-radio .form-check {
  padding: 20px;
}

.container-laporan-karya .input-box .input-text {
  margin-top: 20px;
  height: 50vh;
}

.container-laporan-karya .input-box .input-text textarea {
  width: 100%;
  height: 100%;
  resize: none;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  box-shadow: none;
  border-style: solid;
}

.container-laporan-karya .input-box .file label {
  font-weight: bold;
}

.container-laporan-karya .input-box .file .file-button {
  width: 100%;
  margin: 20px auto;
}

.container-laporan-karya .input-box .file .button {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  text-align: right;
}

.container-laporan-karya .input-box .file .button button {
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #3b86ff;
  color: white;
  font-weight: 600;
  transition: unset;
  width: 150px;
}

.container-laporan-karya .input-box .file .button button:hover {
  font-weight: 800;
}

@media screen and (min-width: 300px) and (max-width: 570px) {
  .container-laporan-karya .input-box * {
    font-size: 12px;
  }

  .container-laporan-karya .input-box textarea {
    height: 150%;
  }

  .container-laporan-karya .input-box .file {
    padding-bottom: 20%;
  }

  .container-laporan-karya .input-box .file .button {
    width: 100%;
    padding: 0;
    text-align: center;
  }

  .container-laporan-karya .input-box .file .button button {
    padding: 10px;
    width: 100%;
  }

  .container-laporan-karya .input-box .file .file-button * {
    font-size: 12px;
  }
}
/*======================= Tampil Laporan and Absen Page =======================*/
.container {
  padding-top: 100px;
  transition: 0.5s;
  padding-bottom: 10%;
}

.container * {
  transition: 0.5s;
}
.container * .table {
  max-height: 500px;
  overflow: auto;
  margin-top: 1em;
}
.container * .table table {
  width: 100%;
}
.container * .table table th,
.container * .table table td {
  padding: 1em;
  vertical-align: top;
}
.container * .table table thead tr {
  background-color: #f8f8f8;
  border-bottom: 1px solid #EDF3FB;
  position: sticky;
  top: 0;
}
.container * .table table thead tr th {
  white-space: nowrap;
}
.container * .table table tbody tr {
  border-bottom: 1px solid #EDF3FB;
}

.table {
  max-height: 500px;
  overflow: auto;
  margin-top: 1em;
}
.table table {
  width: 100%;
}
.table table th,
.table table td {
  padding: 1em;
  vertical-align: top;
}
.table table thead tr {
  background-color: #f8f8f8;
  border-bottom: 1px solid #EDF3FB;
  position: sticky;
  top: 0;
}
.table table thead tr th {
  white-space: nowrap;
}
.table table tbody tr {
  border-bottom: 1px solid #EDF3FB;
}
.table button {
  display: inline-block;
  width: 100%;
  margin-top: 0.5em;
  padding: 0.2em;
}
.table button.edit {
  border: 1px solid #13CB6E;
  color: #13CB6E;
}
.table button.edit:hover {
  background-color: #13CB6E;
  color: #fff;
}
.table button.delete {
  border: 1px solid #C6493B;
  color: #C6493B;
}
.table button.delete:hover {
  background-color: #C6493B;
  color: #fff;
}

.container-admin {
  width: 100%;
}
.container-admin .content {
  padding-top: max(100px, 8vw);
  width: 90%;
  margin: 0 auto;
}
.container-admin .content .image {
  text-align: center;
}
.container-admin .content .image p {
  font-size: max(2em, 2vw);
  font-weight: 600;
  text-transform: capitalize;
}
.container-admin .content .image p span {
  font-weight: 700;
  background-image: linear-gradient(to right, #00b4db, #3b86ff);
  background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
.container-admin .content .image img {
  width: 50%;
}
.container-admin .content .action {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.container-admin .content .action .search {
  border-bottom: 1px solid #CFD8DC;
  width: 50%;
  color: #707071;
  display: flex;
  align-items: center;
}
.container-admin .content .action .search i {
  font-size: 2em;
}
.container-admin .content .action .search input {
  border: none;
  font-size: 1.2em;
  padding: 0.5em;
  width: 100%;
}
.container-admin .content .action .search input:focus {
  outline: none;
}
.container-admin .content .table {
  max-height: 500px;
  overflow: auto;
  margin-top: 1em;
}
.container-admin .content .table table {
  width: 100%;
}
.container-admin .content .table table th,
.container-admin .content .table table td {
  padding: 1em;
  vertical-align: top;
}
.container-admin .content .table table thead tr {
  background-color: #f8f8f8;
  border-bottom: 1px solid #EDF3FB;
  position: sticky;
  top: 0;
}
.container-admin .content .table table thead tr th {
  white-space: nowrap;
}
.container-admin .content .table table tbody tr {
  border-bottom: 1px solid #EDF3FB;
}
.container-admin .content .table .modal .modal-body {
  text-align: center;
}
.container-admin .content .table button.report {
  text-decoration: underline;
  color: #3b86ff;
  padding: 0;
}
.container-admin .content .table button.report:hover {
  text-decoration: none;
}
.container-admin .content .table button.report:focus {
  box-shadow: none;
}
.container-admin .content .table .modal.report p {
  text-align: left;
}
.container-admin .content .table-report {
  display: none;
}
.container-admin .content .action {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.container-admin .content .action .search {
  border-bottom: 1px solid #CFD8DC;
  width: 50%;
  color: #707071;
  display: flex;
  align-items: center;
}
.container-admin .content .action .search i {
  font-size: 2em;
}
.container-admin .content .action .search input {
  border: none;
  font-size: 1.2em;
  padding: 0.5em;
  width: 100%;
}
.container-admin .content .action .search input:focus {
  outline: none;
}
.container-admin .content .action .add-user .add {
  background-color: #3b86ff;
  text-decoration: none;
  padding: 0.5em 0.8em;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
}
.container-admin .content .action .add-user .add:hover {
  background-color: transparent;
  color: #3b86ff;
  border: 1px solid #3b86ff;
}
.container-admin .content form {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #fff;
  padding: 1em;
  border-radius: 5px;
}
.container-admin .content form .form-floating {
  margin-bottom: 1em;
}
.container-admin .content form .form-floating .info {
  font-size: 0.8em;
  margin-top: 0.5em;
}
.container-admin .content form .role,
.container-admin .content form .day-work {
  margin-bottom: 1em;
}
.container-admin .content form .role .input,
.container-admin .content form .day-work .input {
  display: flex;
  margin-top: 1em;
}
.container-admin .content form .role .input .form-check,
.container-admin .content form .day-work .input .form-check {
  margin-left: 1em;
}
.container-admin .content form .role .input .form-check input,
.container-admin .content form .role .input .form-check label,
.container-admin .content form .day-work .input .form-check input,
.container-admin .content form .day-work .input .form-check label {
  cursor: pointer;
}
.container-admin .content form .submit {
  width: 100%;
  background-color: #3b86ff;
  border: none;
  outline: none;
  color: #fff;
  font-weight: bold;
  padding: 0.8em 0;
  border-radius: 5px;
}

/*======================= Edit,Change Password,Add Page =======================*/
.container-edit {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 10%;
  padding-bottom: 10%;
  transition: 0.5s;
}

.container-edit * {
  transition: 0.5s;
}

.container-edit .input-box {
  height: auto;
  width: 60%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px 0;
}

.container-edit .input-box .head {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-edit .input-box .head h2 {
  font-weight: 500;
}

.container-edit .input-box .head span {
  font-weight: 700;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 51%, #1FA2FF 100%);
  background-size: 200% auto;
}

.container-edit .input-box .form {
  width: 80%;
}

.container-edit .input-box .form .input-data label {
  margin-top: 50px;
}

.container-edit .input-box .form .input-data input {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  filter: none;
}

.container-edit .input-box .form .input-data input:focus {
  outline: none;
}

/* Change the white to any color for chrome*/
.container-edit .input-box .form .input-data input:-webkit-autofill,
.container-edit .input-box .form .input-data input:-webkit-autofill:hover,
.container-edit .input-box .form .input-data input:-webkit-autofill:focus,
.container-edit .input-box .form .input-data input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset !important;
}

.container-edit .input-box .form .role {
  text-align: center;
  margin-top: 50px;
  transition: unset;
}

.container-edit .input-box .form .role h1 {
  text-align: left;
  font-size: 1rem;
}

.container-edit .input-box .form .role label {
  cursor: pointer;
  margin: 30px 20px 0;
  padding: 10px 10px;
  width: 20%;
  border-radius: 5px;
  transition: 0.3s all ease;
  text-transform: capitalize;
  border: 1px solid black;
  text-align: center;
}

.container-edit .input-box .form .role input {
  display: none;
}

.container-edit .input-box .form .role input:checked + label {
  background-color: #3b86ff;
  color: white;
  border-color: #3b86ff;
  font-weight: 700;
}

.container-edit .input-box .form .day-check {
  text-align: center;
  margin-top: 50px;
}

.container-edit .input-box .form .day-check h1 {
  text-align: left;
  font-size: 1rem;
}

.container-edit .input-box .form .day-check .form-check {
  margin-top: 20px;
}

.container-edit .input-box .form .day-check .form-check input {
  transition: unset;
}

.container-edit .input-box .form .day-check .form-check label {
  text-transform: capitalize;
}

.container-edit .input-box .form .button {
  text-align: center;
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

.container-edit .input-box .form .button button {
  width: 45%;
  padding: 10px;
  background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 51%, #1FA2FF 100%);
  border: none;
  outline: none;
  border-radius: 5px;
  transition: 0.5s;
  color: white;
  font-weight: 900;
  background-size: 200% auto;
  text-decoration: none;
  margin-top: 30px;
}

.container-edit .input-box .form .button a {
  width: 45%;
  padding: 10px;
  background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 51%, #1FA2FF 100%);
  border: none;
  outline: none;
  border-radius: 5px;
  transition: 0.5s;
  color: white;
  font-weight: 900;
  background-size: 200% auto;
  text-decoration: none;
  margin-top: 30px;
}

.container-edit .input-box .form .button button:hover,
.container-edit .input-box .form .button a:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
}

/* Responsive */
@media screen and (min-width: 300px) and (max-width: 575px) {
  .container-edit .input-box {
    height: auto;
    width: 90%;
  }

  .container-edit .input-box .form * {
    font-size: 12px !important;
  }

  .container-edit .input-box .head h2 {
    font-size: 18px;
  }

  .container-edit .input-box .form {
    width: 80%;
  }

  .container-edit .input-box .form .input-data label {
    margin-top: 30px;
  }

  .container-edit .input-box .form .input-data input {
    margin: 10px 0;
    padding: 5px;
  }

  .container-edit .input-box .form .role label {
    margin: 20px 0 0;
    width: 30%;
  }

  .container-edit .input-box .form .day-check .form-check {
    margin-top: 20px;
  }
}
@media screen and (min-width: 576px) and (max-width: 800px) {
  .container-edit .input-box {
    height: auto;
    width: 90%;
  }

  .container-edit .input-box .form * {
    font-size: 16px !important;
  }

  .container-edit .input-box .head h2 {
    font-size: 18px;
  }

  .container-edit .input-box .form {
    width: 80%;
  }

  .container-edit .input-box .form .input-data label {
    margin-top: 30px;
  }

  .container-edit .input-box .form .input-data input {
    margin: 10px 0;
    padding: 5px;
  }

  .container-edit .input-box .form .day-check .form-check {
    margin-top: 20px;
  }
}
@media screen and (min-width: 801px) and (max-width: 1100px) {
  .container-edit .input-box {
    height: auto;
    width: 80%;
  }

  .container-edit .input-box .form * {
    font-size: 18px !important;
  }

  .container-edit .input-box .head h2 {
    font-size: 24px;
  }

  .container-edit .input-box .form {
    width: 80%;
  }

  .container-edit .input-box .form .input-data label {
    margin-top: 30px;
  }

  .container-edit .input-box .form .input-data input {
    margin: 10px 0;
    padding: 5px;
  }

  .container-edit .input-box .form .day-check .form-check {
    margin-top: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
