@use '../template/variable'as v;


@mixin disable-button {
    cursor: not-allowed;
    pointer-events: none;
    border: none !important;
}


@mixin modal-absen {
    .modal-header {
        display: flex;
        justify-content: center;
        text-transform: capitalize;

        h5 span {
            color: #3B86FF;
            font-weight: 700;
        }
    }

    .modal-body {
        height: 70vh;

        .canvas {
            width: 100%;
            height: 90%;

            video {
            	height: 100%;
            	width: 100%;
                transform: scaleX(-1);
                filter: FlipH;
                aspect-ratio: 1/1;
            }
        }

        .button {
            @include g.centered;
            height: 10%;

            button {
                background-color: #297ffd;
                color: white;
                border: none;
                outline: none;
                width: 20%;
                padding: 10px;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: unset;

                &:hover {
                    font-weight: 700;
                }
            }

            i {
                font-size: 26px;
                margin-left: 10px;
            }
        }
    }
}



/*======================= Absen Page =======================*/
.absen {
    width: 100%;
    padding-top: 100px;
    transition: 0.5s;

    * {
        transition: 0.5s;
    }

    .head h1 span,
    .time span.greetings {
        color: #3B86FF;
        font-weight: 700;
    }


    // Heading
    .head {
        text-align: center;

        h1 {
            font-size: 1.2em;
            font-weight: 600;
        }

        i {
            font-size: 24px;
        }

    }

    // Realtime Clock
    .time {
        font-weight: 600;
        padding: 0 30px;
    }

    
    // Button Absen
    .button-absen {
        width: 60%;
        margin: 20px auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .masuk,
        .keluar,
        .izin {
            width: 30%;
            text-align: center;

            button#masuk,
            button#keluar,
            button#izin {
                padding: 10px 5px;
                display: inline-block;
                text-decoration: none;
                border-radius: 5px;
                width: 100%;
                font-weight: 500;
                outline: none;
                border: none;
            }
        }

        .masuk {

            button[disabled] {
                @include disable-button;
                background-color: rgba(19, 203, 110, .3) !important;
            }

            button#masuk {
                color: #fff;
                background-color: rgba(19, 203, 110, 0.8);
                transition: 0.1s;

                &:hover {
                    background-color: #13cb6e;
                    font-weight: 700;
                }

                &:active {
                    font-weight: 700;
                    border: 1px solid #13cb6e;
                    background-color: transparent;
                    color: #13cb6e;
                    outline: 5px solid rgba(19, 203, 110, 0.4);
                }
            }

            .modal {
                @include modal-absen;
            }
        }

        .keluar {
            button[disabled] {
                @include disable-button;
                background-color: rgba(198, 73, 59, .3) !important;
            }

            button#keluar {
                color: #fff;
                border: 1px solid #c64b3b;
                transition: 0.1s;
                background-color: rgba(198, 73, 59, 0.8);

                &:hover {
                    font-weight: 700;
                    background-color: #c6493b;
                }

                &:active {
                    font-weight: 700;
                    border: 1px solid #c64b3b;
                    background-color: transparent !important;
                    color: #c64b3b;
                    outline: 5px solid rgba(198, 75, 59, 0.4);
                }
            }

            .modal {
                @include modal-absen;
            }
        }

        .izin{
            button[disabled] {
                cursor: not-allowed;
                pointer-events: auto !important;
            }
            
            button#izin {
                color: #fff;
                border: 1px solid #0d6efd;
                transition: 0.1s;
                background-color: rgba(13, 110, 253, 0.8);

                &:hover {
                    font-weight: 700;
                    background-color: #0d6efd;
                }
                
                &:active {
                    font-weight: 700;
                    border: 1px solid #0d6efd;
                    background-color: transparent !important;
                    color: #0d6efd;
                    outline: rgba(13, 110, 253, 0.4);
                }
            }
            
            .modal{
                .modal-body {
                    margin: 20px 0 10px;

                    .file-button {
                        margin: 40px 0 10px;
                        text-align: left !important;
                    }
                }
            }
        }
    }



    
    // Slider
    section.content-slider {
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
    
        h1.heading {
            font-size: 1.2em;
            font-weight: 700;
        }
        
        .carousel {
            padding-top: 30px;
    
            .carousel-inner .slider .card {
                width: 28vw;
            }
    
            .card .card-body a {
                padding: 10px 0;
                width: 80%;
                display: inline-block;
                text-decoration: underline;
                font-weight: 600;
                transition: unset;
        
                &:hover {
                    text-decoration: none;
                    font-weight: 900;
                }
            }
    
            .carousel-control-prev,
            .carousel-control-next {
                width: 10vw;
            }
            
            .carousel-control-prev span.bi,
            .carousel-control-next span.bi {
                color: #8e8e8f;
                font-size: min(60px, 10vw);
                font-weight: 900;
            }
        }
    
        .carousel.dekstop{
            .carousel-inner {
                display: flex;
                justify-content: space-around;
            
                &:after {
                    content: unset;
                }
                
                .slider .card {
                    height: 100%;
            
                    .card-image {
                        width: 100%;
                        height: 70%;
            
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }    
                    .card-body {
                        height: 30%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
    
            button {
                display: none;
            }
        }
    
        .carousel.mobile{
            .carousel-inner{
                .slider .card {
                    height: 100%;
                    margin: 0 auto;
                    width: 18rem;
                }
        
                .card{
                    .card-image {
                        width: 100%;
                        height: 200px;
            
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
            
                    .card-body {
                        height: 30%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
    
            button {
                display: unset;
            } 
        }
    }
}











/* Responsive Table Absen | Absen Page */
@media screen and (min-width: 300px) and (max-width: 570px) {
    .absen{
        .head h1 {
            padding: 0 20px 5px;
        }
    
        .button-absen {
            width: 100%;
            flex-wrap: wrap;

            .masuk,
            .keluar,
            .izin {
                width: 100%;
                margin: 10px 0;

                button#masuk,
                button#keluar,
                button#izin {
                    width: 60%;
                }
            }
            
            .masuk,
            .keluar{
                .modal{
                    .modal-header h5 {
                        font-size: 18px;
                    }
                
                    .modal-body {
                        height: 50vh;
            
                        .button button {
                            width: 100%;
                            font-size: 14px;
            
                            i {
                                font-size: 20px;
                                margin-left: 10px;
                            }
                        }
                        
                        .canvas canvas {
                            background-color: rgba(0, 0, 0, 0.1);
                            width: 73%;
                            height: 80%;
                        }
                    }
                }
            }
        }
    } 

    .absen section.content-slider {
        padding-top: 20px;
    }

    .absen section.content-slider .carousel {
        padding-top: 20px;
    }

    .absen section.content-slider .carousel button {
        display: unset;
    }

    .absen section.content-slider .heading {
        padding: 0 20px;
    }
}

/* Responsive Absen Page */
@media screen and (min-width: 571px) and (max-width: 991px) {
    .absen .button-absen {
        width: 90%;
    }

    .absen .button-absen .masuk button#masuk,
    .absen .button-absen .keluar button#keluar {
        width: 90%;
    }

    .absen .button-absen .masuk .modal .modal-header h5 {
        font-size: 18px;
    }

    .absen .button-absen .masuk .modal .modal-body {
        height: 60vh;
    }

    .absen .button-absen .masuk .modal .modal-body .button button {
        width: 100%;
        font-size: 16px;
    }

    .absen .button-absen .masuk .modal .modal-body .button i {
        font-size: 20px;
    }

    .absen .button-absen .masuk .modal .modal-body .canvas canvas {
        background-color: rgba(0, 0, 0, 0.1);
        width: 95%;
        height: 90%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .absen .button-absen {
        width: 80%;
    }

    .absen .button-absen .masuk button#masuk,
    .absen .button-absen .keluar button#keluar {
        width: 90%;
    }

    .absen .button-absen .masuk .modal .modal-body .canvas canvas {
        background-color: rgba(0, 0, 0, 0.1);
        width: 95%;
        height: 95%;
    }
}