@use '../template/variable'as v;

/*======================= Laporan Belajar Page =======================*/
.container-laporan-guru {
	width: 80%;
	margin: 100px auto 0;
	transition: 0.3s;
	padding-bottom: 50px;
	position: relative;

	h1.head {
		text-align: center;
		padding: 20px 0;
		font-size: 1.5rem;
		text-transform: uppercase;
	}

	.select-button {
		margin: 20px 0;

		.form-select {
			font-size: 1rem;
			padding-left: 12px;
		}
	}

	.bottom-input-group {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	.form-group {
		margin-top: 20px;
		width: 100%;
		display: flex;

		.checkgroup {
			width: 40%;

			h1 {
				font-size: 1.3rem;
				font-weight: bold;
			}

			.form-check {
				margin: 10px 0;
			}
		}

		.text-input {
			width: 100%;

			.form-floating {
				height: 100%;

				textarea {
					height: 100%;
				}
			}
		}
	}

	.file-button {
		margin-top: 50px;

		label {
			font-size: 1.3rem;
			font-weight: bold;
		}
	}

	.button {
		text-align: right;

		.submit {
			width: 150px;
			background-color: #0d6efd;
			padding: 5px 10px;
			color: white;
			border-radius: 5px;
			border: none;
			transition: unset;
			outline: none;

			&:hover {
				font-weight: 700;
			}
		}
	}
}

/* Reponsive Laporan Guru */
@media screen and (min-width: 300px) and (max-width: 570px) {
	.container-laporan-guru {

		.top-input-group {
			display: flex;
			flex-wrap: wrap;

			.form-floating {
				width: 100%;
				display: flex;
				align-items: center;
				margin: 0 !important;

				input {
					width: 100%;
					height: 50%;
					font-size: 12px !important;
				}

				label {
					display: flex;
					align-items: center;
					font-size: 12px !important;
				}
			}
		}

		.select-button {
			margin: 10px 0;

			.form-select {
				height: 70%;
				font-size: 12px;
				padding-left: 12px;
			}
		}

		.bottom-input-group {
			justify-content: space-around;
			flex-wrap: wrap;
			margin: 0 !important;

			.form-floating {
				width: 100%;
				display: flex;
				align-items: center;
				margin: 0 !important;

				input {
					height: 50%;
					font-size: 12px !important;
				}

				label {
					display: flex;
					align-items: center;
					font-size: 12px !important;
				}
			}
		}

		.form-group {
			margin-top: 10px;
			flex-wrap: wrap;
			height: 100%;

			.checkgroup {
				width: 100%;

				h1 {
					font-size: 14px;
				}

				.form-check {
					margin: 20px 0;
					font-size: 12px;
				}
			}

			.text-input {
				width: 100%;

				.form-floating {
					height: 100%;

					textarea {
						height: 300px;
					}

					label {
						font-size: 12px;
					}
				}
			}
		}

		.file-button {
			margin-top: 30px;

			* {
				font-size: 12px;
			}

			label {
				font-size: 14px;
				font-weight: bold;
			}
		}

		.button {
			button.submit {
				width: 100%;
				font-size: 14px;
				background-color: #0d6efd;
				padding: 10px 10px;
				color: white;
				border-radius: 5px;
				border: none;
				transition: unset;
				outline: none;
			}
		}
	}
}

@media screen and (min-width: 571px) and (max-width: 900px) {
	.container-laporan-guru {

		.top-input-group {
			display: flex;
			flex-wrap: wrap;
		}

		.top-input-group {

			.form-floating {
				width: 100%;
				display: flex;
				align-items: center;
				margin: 0 !important;

				input {
					width: 100%;
					height: 80%;
					font-size: 16px !important;
				}

				label {
					display: flex;
					align-items: center;
					font-size: 16px !important;
				}
			}
		}

		.bottom-input-group {
			justify-content: space-around;
			flex-wrap: wrap;
			margin: 0 !important;

			.form-floating {
				display: flex;
				align-items: center;
				margin: 0 !important;
				width: 100%;

				input {
					height: 80%;
					font-size: 16px !important;
				}

				label {
					display: flex;
					align-items: center;
					font-size: 16px !important;
				}
			}
		}

		.select-button {
			margin: 10px 0;

			.form-select {
				height: 80%;
				font-size: 16px;
				padding-left: 12px;
			}
		}

		.form-group {
			margin-top: 10px;
			flex-wrap: wrap;

			.checkgroup {
				width: 100%;

				h1 {
					font-size: 1.2rem;
				}

				.form-check {
					margin: 20px 0;
					font-size: 16px;
				}
			}

			.text-input {
				width: 100%;

				.form-floating {
					height: 100%;

					textarea {
						height: 300px;
					}

					label {
						font-size: 16px;
					}
				}
			}
		}
		.file-button {
			margin-top: 30px;

			.file-button label {
				font-size: 1.2rem;
				font-weight: bold;
			}
		}
	}
}