@use '../template/variable' as v;
@use '../template/global';



/*======================= Laporan Pengembangan Page =======================*/
.container-laporan-pengembangan {
  min-height: 100vh;
  transition: 0.5s;
  padding-bottom: 10%;
  padding-top: 100px;
}

.container-laporan-pengembangan * {
  transition: 0.5s;
}

.container-laporan-pengembangan form {
  height: 50%;
}

.container-laporan-pengembangan h1.head {
  text-align: center;
  padding: 20px 0;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.container-laporan-pengembangan .input-box {
  width: 80%;
  margin: 0 auto;
  height: 80%;
}

.container-laporan-pengembangan .input-box .input {
  margin-top: 40px;
}

.container-laporan-pengembangan .input-box .input h1 {
  font-size: 16px;
  font-weight: bold;
}

.container-laporan-pengembangan .input-box .input .input-group {
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.container-laporan-pengembangan .input-box .input .input-group .form-check {
  width: 20%;
}

.container-laporan-pengembangan .input-box .input .input-group .input-group-text.input-radio {
  width: unset;
  background-color: transparent;
  border: none;
}

.container-laporan-pengembangan .input-box .input .select-group {
  margin-top: 30px;
}

.container-laporan-pengembangan .input-box .bottom-input {
  display: flex;
  padding: 30px 0;
}

.container-laporan-pengembangan .input-box .bottom-input input {
  height: 100% !important;
}

.container-laporan-pengembangan .input-box .bottom-input .input-group,
.container-laporan-pengembangan .input-box .bottom-input .input-date {
  width: 50%;
}

.container-laporan-pengembangan .input-box .bottom-input .input-date {
  margin-left: 20px;
  display: flex;
}

.container-laporan-pengembangan .input-box .bottom-input .input-date span {
  border-radius: 0;
  background-color: #3b86ff;
  color: #fff;
  font-weight: 700;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  outline: none;
}

.container-laporan-pengembangan .input-box .bottom-input .input-date input {
  border: 1px solid #ced4da;
  color: #6c757d;
  padding: 0 20px;
  border-radius: 0;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.container-laporan-pengembangan .input-box .input-text {
  margin-top: 20px;
  height: 50vh;
}

.container-laporan-pengembangan .input-box .input-text textarea {
  width: 100%;
  height: 100%;
  resize: none;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  box-shadow: none;
  border-style: solid;
}

.container-laporan-pengembangan .input-box .bottom-input .form-floating {
  height: 50%;
}

.container-laporan-pengembangan .input-box .file {
  width: 100%;
  margin-top: 30px;
  padding-bottom: 50px;
}

.container-laporan-pengembangan .input-box .file label {
  font-weight: bold;
}

.container-laporan-pengembangan .input-box .file .file-button {
  width: 100%;
}

.container-laporan-pengembangan .input-box .file .button {
  width: 100%;
  margin: 0 auto;
  text-align: right;
}

.container-laporan-pengembangan .input-box .file .button button {
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #3b86ff;
  color: white;
  font-weight: 600;
  transition: unset;
  width: 150px;
}

.container-laporan-pengembangan .input-box .file .button button:hover {
  font-weight: 800;
}

@media screen and (min-width: 300px) and (max-width: 570px) {
  .container-laporan-pengembangan .input-box .input .input-group .form-check {
    width: 100%;
  }

  .container-laporan-pengembangan .input-box .input .input-group .input-group-text {
    padding: 0 !important;
  }

  .container-laporan-pengembangan .input-box .input .input-group .input-group-text,
.container-laporan-pengembangan .input-box .input .input-group .form-control {
    margin-top: 10px !important;
  }

  .container-laporan-pengembangan .input-box .input .input-group .input-group-text .form-check-input {
    margin-right: 10px;
  }

  .container-laporan-pengembangan .input-box * {
    font-size: 12px;
  }

  .container-laporan-pengembangan .input-box .bottom-input {
    flex-wrap: wrap;
    padding: 20px 0;
  }

  .container-laporan-pengembangan .input-box .bottom-input .input-group,
.container-laporan-pengembangan .input-box .bottom-input .input-date {
    width: 100%;
    margin: 10px 0;
  }

  .container-laporan-pengembangan .input-box .bottom-input .input-date {
    margin-left: 0;
  }

  .container-laporan-pengembangan .input-box textarea {
    height: 150%;
  }

  .container-laporan-pengembangan .input-box .file .button {
    width: 100%;
    text-align: center;
  }

  .container-laporan-pengembangan .input-box .file .button button {
    padding: 10px;
    width: 100%;
  }

  .container-laporan-pengembangan .input-box .file .file-button * {
    font-size: 12px;
  }
}
@media screen and (min-width: 571px) and (max-width: 900px) {
  .container-laporan-pengembangan .input-box .input .input-group .form-check {
    width: 100%;
    margin: 10px 0;
  }

  .container-laporan-pengembangan .input-box .input .input-group .input-group-text {
    padding: 0 !important;
    margin-top: 10px !important;
  }

  .container-laporan-pengembangan .input-box .input .input-group .input-group-text,
.container-laporan-pengembangan .input-box .input .input-group .form-control {
    margin-top: 10px !important;
  }

  .container-laporan-pengembangan .input-box .input .input-group .input-group-text .form-check-input {
    margin-right: 10px;
  }

  .container-laporan-pengembangan .input-box * {
    font-size: 16px;
  }

  .container-laporan-pengembangan .input-box .bottom-input {
    flex-wrap: wrap;
    padding: 20px 0;
  }

  .container-laporan-pengembangan .input-box .bottom-input .input-group,
.container-laporan-pengembangan .input-box .bottom-input .input-date {
    width: 100%;
    margin: 10px 0;
  }

  .container-laporan-pengembangan .input-box textarea {
    height: 150%;
  }

  .container-laporan-pengembangan .input-box .file .button {
    width: 100%;
    text-align: center;
  }

  .container-laporan-pengembangan .input-box .file .button button {
    padding: 10px;
    width: 100%;
  }

  .container-laporan-pengembangan .input-box .file .file-button * {
    font-size: 12px;
  }
}