{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'image/logokampak.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'modules/bootstrap/css/bootstrap.min.css'%}"></link>
    <link rel="stylesheet" type="text/css" href="{% static 'modules/boxicons/css/boxicons.min.css'%}"></link>
    <link rel="stylesheet" type="text/css" href="{% static 'modules/animate.min.css'%}"></link>
    {% block title %}
    {% endblock %}

</head>
<body>
    {% block content %}
    {% endblock %}


    <script src="{% static 'modules/jquery-3.6.0.min.js'%}"></script>
    <script src="{% static 'modules/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'modules/vue.js'%}"></script>
    <script src="{% static 'modules/sweetalert.min.js'%}"></script>
    <script src="{% static 'modules/jspdf.umd.min.js'%}"></script>
    <script src="{% static 'modules/jspdf.plugin.autotable.js'%}"></script>
    <script src="{% static 'modules/xlsx.full.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/script.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/utils.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/vueAppAdmin.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/vueAppAttendAdmin.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/vueAppUsersAdmin.js'%}"></script>
    {% block opt_script %}{% endblock  %}
</body>
</html>