{% load static %}

<!DOCTYPE html>
<html>
<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <!-- <meta http-equiv="refresh" content="5"> -->
    <meta name="description" content="Sebuah website absensi untuk guru guru SMKN 1 Cibinong, dan juga managemen data absensi guru guru"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-language" content="id">

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>                 

    <!-- ICON -->
    <link rel="icon" type="image/png" href="{% static 'image/logokampak.png' %}">

    <!-- Google Site Verif -->
    <meta name="google-site-verification" content="AC2VEW-oUpagQQ-Myg0eq3kGX9B48h1BWsVP8KZG2IY" />

    <!-- Open Graph -->
    <!-- MS, fb & Whatsapp -->

    <!-- MS Tile - for Microsoft apps-->
    <meta name="msapplication-TileImage" content="https://absen.smkn1cibinong.sch.id/aset/image/baner.png">    
    <!-- fb & Whatsapp -->

    <!-- Site Name, Title, and Description to be displayed -->
    <meta property="og:site_name" content="Ayo Absen">
    <meta property="og:title" content="Ayo Absen | Login">
    <meta property="og:description" content="Sebuah website absensi untuk para guru yang ada di SMKN 1 CIBINONG dan juga sebagai managemen data absensi dan laporan mengajar guru guru SMKN 1 CIBINONG. ">

    <!-- Image to display -->
    <meta property="og:image" content="https://absen.smkn1cibinong.sch.id/aset/image/baner.png">

    <!-- No need to change anything here -->
    <meta property="og:type" content="website" />
    <meta property="og:image:type" content="image/jpeg">

    <!-- Size of image. Any size up to 300. Anything above 300px will not work in WhatsApp -->
    <meta property="og:image" content="https://absen.smkn1cibinong.sch.id/aset/image/baner.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />


    <meta property="og:image" content="https://absen.smkn1cibinong.sch.id/aset/image/baner.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="226" />
    <meta property="og:image:height" content="226" />


    <!-- Website to visit when clicked in fb or WhatsApp-->
    <meta property="og:url" content="https://absen.smkn1cibinong.sch.id">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="absen.smkn1cibinong.sch.id">
    <meta property="twitter:url" content="https://absen.smkn1cibinong.sch.id">
    <meta name="twitter:title" content="Ayo Absen | Login">
    <meta name="twitter:description" content="Sebuah website absensi untuk para guru yang ada di SMKN 1 CIBINONG dan juga sebagai managemen data absensi dan laporan mengajar guru guru SMKN 1 CIBINONG. ">
    <meta name="twitter:image" content="https://absen.smkn1cibinong.sch.id/aset/image/baner.png">   

    {% block title %}
    {% endblock %}

</head>
<body>
    {% block content %}
    {% endblock %}


    <div class="copyright">
        <p>Powered By <span><a href="https://nevtik.org/" target="_blank">NEVTIK </a></span>& Develope By <span>SIJA SMKN 1 Cibinong</span></p>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/plugin/customParseFormat.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.0/jspdf.umd.min.js"></script>
    <script type="module" src="https://unpkg.com/jspdf-autotable@3.5.23/dist/jspdf.plugin.autotable.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-base64@3.7.2/base64.min.js"></script>
    <script type="text/javascript" src="{% static 'js/script.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/vueApp.js'%}"></script>

    <script>dayjs().format()</script>



    {% block opt_script %}{% endblock  %}
</body>
</html>