{% load static %}


<div class="button-filter-user">
    <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle btn" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Filter
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" id="dropdown-menu">
            <li><button v-on:click="filterToday">Hari Ini</button></li>
            <li><button v-on:click="filterThisMonth">Bulan Ini</button>
            </li>
            <li><button v-on:click="filterThisYear">Tahun Ini</button></li>
            <li><button class="button" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                    id="">Custom <i class='bx bx-customize'></i></button>


            </li>
        </ul>
        <div class="modal fade " id="staticBackdrop" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Kustomisasi Tanggal</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>


                    <div class="modal-body">
                        <div class="date">
                            <label for="from-date">Dari</label>
                            <input type="date" name="from-date" id="from-date">
                        </div>

                        <div class="date">
                            <label for="to-date">Sampai</label>
                            <input type="date" name="to-date" id="to-date">
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kembali</button>
                        <button v-on:click="filterCostum" name='custom-filter' value='custom' id='custom-filter'
                            class="btn btn-primary" data-bs-dismiss="modal">Kirim</button>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>