{% extends 'base.html' %}
{% load static %}
{% block title %}
	<title>Laporan Pengembangan Diri | SMKN 1 CIBINONG</title>
{% endblock  %}

{% block content %}
	{% include 'navbar.html' %}

	<div class="container-laporan-pengembangan">
		<form action="" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			
			{{form.employee_id.as_hidden}}
			<h1 class="head">Laporan Pengembangan Diri</h1>
			<div class="input-box">
			
				<div class="input">
					<h1>Jenis Kegiatan</h1>
					<div class="input-group">
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="radio" name="activity" id="inlineRadio1" value="Seminar" required>
						  <label class="form-check-label" for="inlineRadio1">Seminar</label>
						</div>
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="radio" name="activity" id="inlineRadio2" value="Workshop">
						  <label class="form-check-label" for="inlineRadio2">Workshop</label>
						</div>
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="radio" name="activity" id="inlineRadio3" value="Training">
						  <label class="form-check-label" for="inlineRadio3">Training</label>
						</div>
						<div class="input-group-text input-radio">
						  <input class="form-check-input mt-0" type="radio" value="custom" aria-label="Radio button for following text input" name="activity" id="inlineRadio4">
						</div>
						<input type="text" class="form-control" name='activity-custom' aria-label="Text input with radio button" placeholder="Lainya" id="text" disabled>
					</div>
				</div>

				<div class="input">
					<h1>Peran dalam kegiatan</h1>
					<div class="input-group">
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="radio" name="role" id="inlineRadio5" value="Peserta" required>
						  <label class="form-check-label" for="inlineRadio5">Peserta</label>
						</div>
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="radio" name="role" id="inlineRadio6" value="Pembicara">
						  <label class="form-check-label" for="inlineRadio6">Pembicara</label>
						</div>
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="radio" name="role" id="inlineRadio7" value="Panitia">
						  <label class="form-check-label" for="inlineRadio7">Panitia</label>
						</div>
						<div class="input-group-text input-radio">
						   <input class="form-check-input mt-0" type="radio" value="custom" aria-label="Radio button for following text input" name="role" id="inlineRadio8">
						</div>
						<input type="text" class="form-control" name="role-custom" aria-label="Text input with radio button" placeholder="Lainya" id="text2" disabled>   
					</div>
				</div>

				<div class="bottom-input">			
					<div class="input-group">
					   	{{form.duration}}
					</div>
					<div class="input-date">
						<span class="input-group-text" id="inputGroup-sizing">Tanggal</span>
					  	<input type="date" class="form-control" name="held_on" aria-label="Sizing example input" aria-describedby="inputGroup-sizing" required>
					</div>
				</div>

				<div class="input-text">
					{{form.desc}}
				</div>

				<div class="file">
					<div class="file-button mb-3">
						<label for="formFileMultiple" class="form-label">Upload Dokumentasi Bimbingan</label>
						{{form.documentation}} 
					</div>

					<div class="button">
						<button class="submit" name="submit-laporan">Submit</button>
					</div>
				</div>
			</div>

			

		</form>
	</div>



{% endblock %}

{% block opt_script %}

	<script type="text/javascript">
		inputCheck()
	</script>

{% endblock %}
