{% extends 'base.html' %}
{% load static %}
{% block title %}
	<title>Laporan Tugas Lainnya | SMKN 1 CIBINONG</title>
{% endblock  %}

{% block content %}
	{% include 'navbar.html' %}
	<div class="container-laporan-tugas">
		<form action="" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			{{form.employee_id.as_hidden}}
			<h1 class="head">Laporan Tugas</h1>
			<div class="input-box">
				{{form.role}}

				{{form.desc}}
				
				<div class="file">
					<div class="file-button mb-3">
						<label for="formFileMultiple" class="form-label">Upload Dokumentasi Tugas</label>
						{{form.documentation}}
					</div>

					<div class="button">
						<button class="submit" name="submit-laporan">Submit</button>
					</div>
				</div>
			</div>

			

		</form>
	</div>




{% endblock %}
