{% extends 'base.html' %}
{% load static %}
{% block title %}
	<title>Laporan Bimbingan | SMKN 1 CIBINONG</title>
{% endblock  %}

{% block content %}
	{% include 'navbar.html' %}
	<div class="container-laporan">
			

		<form action="{% url 'guidance_report' %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<h1 class="head">Laporan Bimbingan</h1>
			{{form.employee_id.as_hidden}}
			<div class="input-box">
				{{form.desc}}

				

				<div class="file-button mb-3">
					<label for="formFileMultiple" class="form-label">Upload Dokumentasi Bimbingan</label>
					{{form.documentation}}
					
					{% comment %} <input name="bukti" class="form-control" type="file" id="formFileMultiple" multiple required>  {% endcomment %}
				</div>

				
				<div class="button">
					<button class="submit" >Submit</button>
				</div>
			</div>

		</form>
	</div>






{% endblock %}