{% extends 'base.html' %}
{% load static %}
{% block title %}
	<title>Laporan Karya Inovatif | SMKN 1 CIBINONG</title>
{% endblock  %}

{% block content %}
	{% include 'navbar.html' %}

	<div class="container-laporan-karya">
		<form action="" method="post" enctype="multipart/form-data">
			{% csrf_token %}

			{{form.employee_id.as_hidden}}
			<h1 class="head">Laporan Karya Inovatif</h1>
			<div class="input-box">
				<div class="input-radio">
					<h1>Pilih Karya Inovatif</h1>
					<div class='select-button'>
						{{form.category}}
					</div>
				</div>

				<div class="input-text">
					{{form.desc}}
				</div>

				<div class="file">
					<div class="file-button mb-3">
						<label for="formFileMultiple" class="form-label">Upload Dokumentasi Karya Inovatif</label>
						{{form.documentation}} 
					</div>

					<div class="button">
						<button class="submit" name="submit-laporan">Submit</button>
					</div>
				</div>
			</div>
		</form>
	</div>




	<!-- Aset Footer berupa javascript -->
{% endblock %}