{% extends 'base.html' %}
{% load static %}
{% block title %}
	<title>Laporan Belajar | SMKN 1 CIBINONG</title>
{% endblock  %}

{% block content %}
	{% include 'navbar.html' %}


	<div class="container-laporan-guru">
		<form action="" method="post" enctype="multipart/form-data" id="mapel-form" v-cloak>
			{% csrf_token %}
			{{form.employee_id.as_hidden}}
			<h1 class="head">Laporan Belajar</h1>
			<div class="top-input-group">
				<div class="form-floating mb-3">
					{{form.employee_id.as_hidden}}
				</div>
			</div>

			<div class="select-button">
				{{form.class_name}}
			</div>


			<div class="select-button" id="select-jenis">
				<select @change="onChange" name="subject_category" class="form-select form-select-lg" aria-label=".form-select-md example">
					<option selected disabled hidden >Jenis Mata Pelajaran</option>
					<option value="1">Wajib A & B</option>
					<option value="2">Produktif</option>
				</select>
			</div>

			
			<div class="select-button">
				<select class="form-select form-select-lg" name="subject_name" aria-label=".form-select-md example" id="select-mapel" disabled>
					<option disabled selected hidden>Pilih Mata Pelajaran</option>
					<option v-for="(mapel) in dataKelas" :value="mapel.id">[[ mapel.subject_name ]]</option>
				</select>
			</div>
			

			
			<div class="bottom-input-group">
				<div class="form-floating mb-3">
					{{form.total_student}}
					<label for="floatingInput">Jumlah Siswa (Ex: 12)</label>
				</div>

				<div class="form-floating mb-3">
					{{form.presence_student}}
					<label for="floatingInput">Jumlah Siswa Hadir (Ex: 15)</label>
				</div>

				<div class="form-floating mb-3">
					{{form.absence_student}}
					<label for="floatingInput">Jumlah Siswa Tidak Hadir (Ex: 5)</label>
				</div>
			</div>
			
			<div class="form-group">
				<div class="checkgroup">
					<h1>Media Pembelajaran</h1>
					{% for method in method_list %}
						<div class="form-check">
							<input class="form-check-input" type="checkbox" name="method" value="{{method}}" id="flexCheckDefault{{forloop.counter}}">
							<label class="form-check-label" for="flexCheckDefault{{forloop.counter}}">
								{{method}}
							</label>
					</div>
					{% endfor %}
				</div>

				<div class="text-input">
					<div class="form-floating">
					  {{form.desc}}
					  <label for="floatingTextarea2">Keterangan</label>
					</div>
				</div>
			</div>

			<div class="file-button mb-3">
				<label for="formFileMultiple" class="form-label">Upload Dokumentasi Belajar</label>
				{{form.documentation}}
			</div>

			<div class="button">
				<button type="submit" name="submit-report" id="" class="submit">Submit</button>
			</div>
		</form>

	</div>


{% endblock %}
	{% block opt_script %}
	<script type="text/javascript">
		studyReport()
	</script>
{% endblock  %}
