{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Laporan TugasKu | SMKN 1 CIBINONG</title>
{% endblock %}
{% block content %}
{% include 'navbar.html' %}



<div class="container" id="container">
    <h2>Tugas Lainnya</h2>
    <div id="table-pdf" v-cloak>
        <div class="table-laporan table">
            <table>
                <thead>
                    <tr>
                        <th>Tanggal</th>
                        <th>Posisi Kerja</th>
                        <th>Laporan</th>
                        <th>Dokumentasi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-if="dataTugas.length === 0">
                        <td colspan="4" align="center">Data tidak tersedia.</td>
                    </tr>

                    <tr v-for="(data) in dataTugas">
                        <td>[[ data.created_at ]]</td>
                        <td>[[ data.role.role_name ]]</td>
                        <td>[[ data.desc ]]</td>
                        <td><a v-bind:href="data.documentation" target="_blank">Lihat Bukti</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block opt_script %}
    
    <script type="text/javascript">
        showDutyReport()
    </script>

{% endblock %}
