{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Laporan TugasKu | SMKN 1 CIBINONG</title>
{% endblock %}
{% block content %}
{% include 'navbar.html' %}



<div class="container" id="container">
    <h2>Rekap Tugas Lainnya</h2>
    <div id="table-pdf" v-cloak>
        <div class="action">
            {% include 'button-filter-user.html' %}
        </div>

        <div class="table-laporan table">
            <table>
                <thead>
                    <tr>
                        <th>Tanggal</th>
                        <th>Posisi Kerja</th>
                        <th>Laporan</th>
                        <th>Dokumentasi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-if="dataTugas.length === 0">
                        <td colspan="4" align="center">Data tidak tersedia.</td>
                    </tr>

                    <tr v-for="(data,index) in dataTugas">
                        <td>[[ data.created_at ]]</td>
                        <td>[[ data.role.role_name ]]</td>
                        <td>
                            <p>[[ data.descSort ]]</p>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn report" data-bs-toggle="modal"
                                :data-bs-target=" '#desc-duty' + index">
                                Selengkapnya
                            </button>

                            <!-- Modal -->
                            <div class="modal fade report" :id=" 'desc-duty' + index" data-bs-backdrop="static"
                                data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Keterangan</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>[[ data.desc ]]</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td><a v-bind:href="data.documentation" target="_blank">Lihat Bukti</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        {% include 'button-print.html' %}
    </div>
</div>
{% endblock %}

{% block opt_script %}
    
    <script type="text/javascript">
        showDutyReport()
    </script>

{% endblock %}
