{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Laporan KaryaIlmiahKu | SMKN 1 CIBINONG</title>
{% endblock %}
{% block content %}
{% include 'navbar.html' %}



<div class="container" id="container">
    <h2>Laporan Karya Ilmiah</h2>
    <div id="table-pdf" v-cloak>
        <div class="table-laporan">
            <table class="table table-bordered table-striped table-responsive-sm" id="tableOne">
                <thead class="thead-dark">
                    <tr>
                        <th>Tanggal</th>
                        <th>Karya</th>
                        <th>Laporan</th>
                        <th>Dokumentasi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-if="dataIlmiah.length === 0">
                        <td colspan="4" align="center">Data tidak tersedia.</td>
                    </tr>

                    <tr v-for="(data) in dataIlmiah">
                        <td>[[ data.created_at ]]</td>
                        <td>[[ data.category ]]</td>
                        <td>[[ data.desc ]]</td>
                        <td>[[ data.role ]]</td>
                        <td><a v-bind:href="data.documentation">Lihat Bukti</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block opt_script %}
    
    <script type="text/javascript">
        showScientificReport()
    </script>

{% endblock %}
