{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Laporan MengajarKu | SMKN 1 CIBINONG</title>
{% endblock %}
{% block content %}
{% include 'navbar.html' %}


<div class="container" id="container">
    <h2>Rekap Laporan</h2>

    <div id="table-pdf" v-cloak>
        <div class="table-absen">
            <table class="table table-bordered table-striped table-responsive-sm" id="tableOne">
                <thead class="thead-dark">
                    <tr>
                        <th>Tanggal</th>
                        <th>Jam Lapor</th>
                        <th>Kelas KBM</th>
                        <th>Mata Ajar</th>
                        <th>Jumlah Siswa</th>
                        <th>Jumlah Siswa Hadir</th>
                        <th>Jumlah Siswa Tidak Hadir</th>
                        <th>Media Pembelajaran</th>
                        <th>Keterangan</th>
                        <th>Dokumentasi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-if="dataBelajar.length === 0">
                        <td colspan="10" align="center">Data tidak tersedia.</td>
                    </tr>

                    <tr v-for="(data) in dataBelajar">
                        <td>[[ data.created_at ]]</td>
                        <td>[[ data.created_at ]]</td> 
                        <td>[[ data.class_name ]]</td>
                        <td>[[ data.subject_name ]]</td>
                        <td>[[ data.total_student ]]</td>
                        <td>[[ data.presence_student ]]</td>
                        <td>[[ data.absence_student ]]</td>
                        <td>[[ data.method ]]</td>
                        <td>[[ data.desc ]]</td>
                        <td><a v-bind:href="data.documentation">Lihat Bukti</a>/td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>


{% endblock %}
{% block opt_script %}
    
    <script type="text/javascript">
        showStudyReport()
    </script>

{% endblock %}
